<div ng-controller="deliveryCtrl">    
    <div class="row">        
        <div class="col-md-12">
            <div class="row wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách phiếu gửi đang phát hàng</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="editable_length" class="dataTables_length">
                                        <label>
                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </label>
                                        dòng trên mỗi trang
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center">Chức năng</th>
                                            <th class="center">Mã vận đơn</th>
                                            <th class="center">Khách hàng gửi</th>
                                            <th class="center">Ngày tạo đơn</th>
                                            <th class="center">Người tạo đơn</th>
                                            <th class="center">Nơi đi</th>
                                            <th class="center">Nơi đến</th>
                                            <th class="center">SHIP COD</th>
                                            <th class="center">Tổng cước</th>
                                            <!-- <th class="center">Chiết khấu</th>
                                            <th class="center">Thành tiền cước</th> -->
                                            <th class="center">Trạng thái</th>
                                            <th class="center">Chi tiết</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in LIST_PURCHASE_DELIVERY | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                            <td class="center">
                                                <button class="btn btn-success fa fa-check padding-2" data-toggle="modal" data-target="#delAlert" ng-click="detail(item)">Phát hàng</button>
                                            </td>
                                            <td class="center" ng-bind="item.billCustomId"></td>
                                            <td class="center" ng-bind="item.CustomerName"></td>     
                                            <td class="center" ng-bind="item.createdDate"></td>
                                            <td class="center" ng-bind="item.userName"></td>
                                            <td class="center" ng-bind="item.addressFrom"></td>
                                            <td class="center" ng-bind="item.addressDetail"></td>
                                            <td class="center" ng-bind="item.serviceCOD | number"></td>
                                            <td class="center" ng-bind="item.totalPrice | number"></td>
                                            <!-- <td class="center" ng-bind="item.totalDiscount | number"></td>
                                            <td class="center" ng-bind="(item.totalPrice - item.totalDiscount) | number"></td> -->
                                            <td ng-dblclick="appendSelectStatus(item.billId)" id="status-{{item.billId}}">
                                                <span ng-if="item.status === '2'" class="label label-success">Phát thành công</span>
                                                <span ng-if="item.status === '1'" class="label label-primary">Đang vận chuyển</span>
                                                <span ng-if="item.status === '0'" class="label label-warning">Đang đóng gói</span>
                                                <span ng-if="item.status === '-1'" class="label label-danger">Đã hủy đơn hàng</span>
                                                <span ng-if="item.status === '3'" class="label label-danger">Tồn - Thông báo chuyển hoàn</span>
                                                <span ng-if="item.status === '4'" class="label label-warning">Hoàn thành công - Chuyển trả người gửi</span>
                                            </td>
                                            <td class="center">
                                                <button class="btn btn-info fa fa-search padding-2" ng-click="edit(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row line-top">
                                <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Hoàn thành đơn hàng</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group center">
                        <label>Hình ảnh giao hàng<span class="text-danger">&nbsp;(*)</span></label>
                        <div class="padding-formcontrol">
                            <img class="img-circle margin-bottom-icon" id="img" ng-src="{{item_purchase.image}}" width=130 height=130 />
                        </div>
                        <div class="input-group">
                            <input id="txt_url" class="form-control" placeholder="Đường dẫn ảnh" name="avatar" type="text" ng-model="item_purchase.image" disabled />
                            <span class="input-group-btn">
                                <button id="btnselectImage" class="btn btn-default btn-browser" type="button" ng-click="event.browserImg()">
                                   <span class="fa fa-folder"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : Form.receiveIsName.$invalid && Form.receiveIsName.$touched && Form.receiveIsName.$error.required }">
                        <label>Tên người nhận<span class="text-danger">&nbsp;(*)</span></label>
                        <input class="form-control" placeholder="Họ và tên người nhận" name="receiveIsName" type="text" ng-model="item_purchase.receiveIsName"  required>
                        <p class="text-danger" ng-show="Form.receiveIsName.$invalid && Form.receiveIsName.$touched && Form.receiveIsName.$error.required">Vui lòng nhập tên.</p>
                    </div>
                    <div class="form-group " ng-class="{'has-error': Form.permission.$invalid && Form.permission.$touched && Form.permission.$error.required}">
                        <label>Trạng thái đơn hàng<span class="text-danger">&nbsp;(*)</span></label>
                        <div class="selectContainer">
                            <select class="form-control" id="permission" name="permission" ng-model="item_purchase.Status"  required>
                                <option style="display:none" value="">--Chọn trạng thái--</option>
                                <option ng-repeat="item in permissions track by $index" value="{{item.IdLevel}}">{{item.LevelName}}</option>
                            </select>
                        </div>
                        <p class="text-danger" ng-show="Form.permission.$invalid && Form.permission.$touched && Form.permission.$error.required">Vui lòng không để trống phần này.</p>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" placeholder="Ghi chú" name="Comment" rows="3" ng-model="item_purchase.Comment">
                        </textarea>                                        
                    </div>
                    <div class="form-group">
                        <p class="{{notice.class}}" ng-bind="notice.message"></p>                                      
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="delivery()">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>