<div ng-controller="listassignCtrl">    
    <div class="row">        
        <div class="col-md-12">
            <div class="row wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách / lịch sử phiếu gửi đã được phân công</h5>
                            <div class="ibox-tools">
                                <button type="button" class="btn btn-primary" ng-click="onPrint()">In danh sách</button>
                                <button type="button" class="btn btn-primary" ng-click="exportData()">Xuất Excel</button>
                            </div> 
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tỉnh/ thành phố</label>
                                    <autocomplete ng-model="criteria.area" data="movies" on-type="updateMovies"></autocomplete>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mã bưu tá</label>
                                    <input class="form-control" placeholder="Mã bưu tá" name="user_id" ng-disabled="isUpdate" type="text" ng-model="criteria.user_id" autofocus required />
                                </div>
                            </div>
                            <div class="col-md-4">          
                                <div class="form-group">
                                    <label>Mã vận đơn</label>
                                    <input class="form-control" placeholder="Mã vận đơn" name="billCustomId" type="text" ng-model="criteria.billCustomId" autofocus required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phân công</label>
                                    <select class="form-control" name="service" ng-model="criteria.status_assign">
                                        <option value="">--Lựa chọn phân công--</option>
                                            <option value="2" class="label label-success">Đã phân công</option>
                                            <option value="1" class="label label-warning">Chờ phân công</option>
                                            <option value="0" class="label label-danger">Chưa phân công</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Trạng thái đơn hàng</label>
                                    <select class="form-control" name="service" ng-model="criteria.status">
                                        <option value="">--Lựa chọn trạng thái--</option>
                                                        <option value="2" class="label label-success">Phát thành công</option>
                                                        <option value="1" class="label label-primary">Đang vận chuyển</option>
                                                        <option value="0" class="label label-warning">Đang đóng gói</option>
                                                        <option value="-1" class="label label-danger">Đã hủy đơn hàng</option>
                                                        <option value="3" class="label label-danger">Tồn - Thông báo chuyển hoàn</option>
                                                        <option value="4" class="label label-warning">Hoàn thành công - Chuyển trả người gửi</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">             
                                <div class="form-group">
                                    <label>Từ ngày</label>
                                    <div class="dropdown width">
                                        <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="datetime" class="form-control input-sm" name="postOn" ng-model="fromDate" />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-calendar"></i></button> </span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker ng-model="fromDate" data-datetimepicker-config="{ dropdownSelector: '#dLabel', minView: 'day',modelType: 'YYYY-MM-DD'}" ng-change="selectfromDate(fromDate)"></datetimepicker>
                                        </ul>
                                    </div>                                             
                                </div>
                            </div>
                            <div class="col-md-4">             
                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <div class="dropdown width">
                                        <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                                            <div class="input-group">
                                                <input type="datetime" class="form-control input-sm" name="postOn" ng-model="toDate" />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-calendar"></i></button> </span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker ng-model="toDate" data-datetimepicker-config="{ dropdownSelector: '#dLabel', minView: 'day',modelType: 'YYYY-MM-DD'}" ng-change="selecttoDate(toDate)"></datetimepicker>
                                        </ul>
                                    </div>                                             
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="editable_length" class="dataTables_length">
                                        <label>
                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </label>
                                        dòng trên mỗi trang
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="exportable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center">Nhật kí</th>
                                            <th class="center">Mã vận đơn</th>
                                            <th class="center">Khách hàng gửi</th>
                                            <th class="center">Ngày tạo đơn</th>
                                            <th class="center">Người tạo đơn</th>
                                            <th class="center">Mã bưu tá</th>
                                            <th class="center">Nơi đi</th>
                                            <th class="center">Nơi đến</th>
                                            <th class="center">SHIP COD</th>
                                            <th class="center">Tổng cước</th>
                                            <!-- <th class="center">Chiết khấu</th>
                                            <th class="center">Thành tiền cước</th> -->
                                            <th class="center">Trạng thái</th>
                                            <th class="center">Chi tiết</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in LIST_PURCHASE_HISTORY | filter:criteria | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                            <td class="center">
                                                <button class="btn btn-success fa fa-search padding-2" data-toggle="modal" data-target="#delAlert" ng-click="detail(item)"> Nhật kí</button>
                                            </td>
                                            <td class="center" ng-bind="item.billCustomId"></td>
                                            <td class="center" ng-bind="item.CustomerName"></td>     
                                            <td class="center" ng-bind="item.createdDate"></td>
                                            <td class="center" ng-bind="item.userName"></td>
                                            <td class="center" ng-bind="item.user_id"></td>
                                            <td class="center" ng-bind="item.addressFrom"></td>
                                            <td class="center" ng-bind="item.addressDetail"></td>
                                            <td class="center" ng-bind="item.serviceCOD | number"></td>
                                            <td class="center" ng-bind="item.totalPrice | number"></td>
                                            <!-- <td class="center" ng-bind="item.totalDiscount | number"></td>
                                            <td class="center" ng-bind="(item.totalPrice - item.totalDiscount) | number"></td> -->
                                            <td ng-dblclick="appendSelectStatus(item.billId)" id="status-{{item.billId}}">
                                                <span ng-if="item.status === '2'" class="label label-success">Phát thành công</span>
                                                <span ng-if="item.status === '1'" class="label label-primary">Đang vận chuyển</span>
                                                <span ng-if="item.status === '0'" class="label label-warning">Đang đóng gói</span>
                                                <span ng-if="item.status === '-1'" class="label label-danger">Đã hủy đơn hàng</span>
                                                <span ng-if="item.status === '3'" class="label label-danger">Tồn - Thông báo chuyển hoàn</span>
                                                <span ng-if="item.status === '4'" class="label label-warning">Hoàn thành công - Chuyển trả người gửi</span>
                                            </td>
                                            <td class="center">
                                                <button class="btn btn-info fa fa-search padding-2" ng-click="edit(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row line-top">
                                <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nhật kí</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">Ngày</th>
                                    <th class="center">Giờ</th>
                                    <th class="center">Mục</th>
                                    <th class="center">Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in LIST_HISTORY | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                    <td class="center" ng-bind="item.date"></td>
                                    <td class="center" ng-bind="item.time"></td>
                                    <td class="center" ng-bind="item.name"></td>     
                                    <td class="center" ng-bind="item.name_detail"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>