<!doctype html>
<html lang="en" ng-app="vpApp" ng-controller="AppController">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title>MŨI NÉ SUMMERLAND - Điểm đến giải trí của Phan Thiết</title> -->
    <title ng-bind="ngMeta.title"></title>
    <meta property="og:locale" content="{{ngMeta['og:locale']}}" />
    <meta property="og:image" content="{{ngMeta['og:image']}}" />
    <meta name="author" content="{{ngMeta['author']}}" />
    <!-- OR <meta name="author" content="{{ngMeta.author}}" /> -->
    <meta name="description" content="{{ngMeta.description}}" />
    <meta name=”robots” content=”noodp,index,follow” />

    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
    <base href="<?php echo base_url(); ?>">

    <link rel="stylesheet" type="text/css" href="assets/clients/css/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/angular-fullpage.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/fullpage.css">

    <link rel="stylesheet" type="text/css" href="assets/clients/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/clients/css/animation.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/container.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/home-vitri.css" />
    <link rel="stylesheet" type="text/css" href="assets/clients/css/home-tienich.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/home-overall-type.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/loiichdautu.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/home-project-outline.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/tintucduan.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/footer.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/great-water-park.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/service-hot.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/gallery-house.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/overall-ground.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/tinhhoa.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/tropical-paradise.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/detail-page.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/matbang.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/canhodichvu.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/tien-ich-tang.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/mb.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/tien-ich-hot.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/map.css">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/map.scss">
    <link rel="stylesheet" type="text/css" href="assets/clients/css/register.css">
    <style>
        .register-form,
        .contact-form {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <!--REGISTER-->
    <!--HEADER-->
    <div class="body-wrapper"></div>

    <div class="nav-left">
        <div class="button-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="main-nav">
            <div class="wrapper">
                <div class="nav">
                    <div class="logo"><a href="<?php echo base_url(); ?>/#home"><img src="./assets/clients/imgs/header/logo.png" alt=""
                                class="img-res"></a></div>
                    <ul class="menu">
                        <li style="animation-delay: 150ms;"><a ng-click="navigate('<?php echo base_url(); ?>/#vitri', 'vitri')">Vị trí</a></li>
                        <li style="animation-delay: 250ms;"><a ng-click="navigate('<?php echo base_url(); ?>/#loaihinhsanpham', 'loaihinhsanpham')">Sản phẩm</a></li>
                        <li style="animation-delay: 350ms;"><a ng-click="navigate('<?php echo base_url(); ?>/#tienich', 'tienich')">Tiện ích</a></li>
                        <li style="animation-delay: 450ms;" ><a ng-click="navigate('<?php echo base_url(); ?>#tintucduan', 'tintucduan')">Tin tức</a></li>
                        <li style="animation-delay: 650ms;"><a ng-click="navigate('<?php echo base_url(); ?>#tiendoduan', 'tiendoduan')">Tiến độ</a></li>
                        <li style="animation-delay: 750ms;"><a ng-click="navigate('<?php echo base_url(); ?>/#lienhe', 'lienhe')">Liên hệ</a></li>
                    </ul>
                    <div class="text-chu-dau">
                        <h3>MỘT SẢN PHẨM CỦA</h3>
                    </div>
                    <div class="logo-chu-dau-tu">
                        <a href="https://hunglocphat.vn/" target="_blank">
                        <img src="./assets/clients/imgs/footer/chu-dau-tu.png" alt=""
                        class="img-res"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header">
        <div class="logo logo-main">
            <a href="<?php echo base_url(); ?>/#home">
                <img src="./assets/clients/imgs/header/logo.png" alt=""
            class="img-res"></a>
        </div>
        <ul class="nav-right">
            <li class="icon-phone call parent-circle">
                <a class="icon-call" href="tel:1800789989">
                    <!-- <img src="./assets/clients/imgs/header/phone.png" alt=""> -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
               <path d="M29,24.2c-0.7-0.8-1.9-0.9-2.7-0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-0.7,0.7-1.3,1.3-2,2c-0.1,0.2-0.4,0.2-0.5,0.1
                   c-0.4-0.2-0.9-0.4-1.3-0.7c-1.9-1.2-3.6-2.7-4.9-4.5c-0.7-0.9-1.3-1.8-1.8-2.8c-0.1-0.2-0.1-0.4,0.1-0.5c0.7-0.6,1.3-1.3,2-2
                   c0.8-0.7,0.9-1.8,0.2-2.6c-0.1-0.1-0.2-0.2-0.2-0.2c-0.5-0.5-1-1-1.5-1.6s-1.1-1.1-1.6-1.6c-0.7-0.8-1.9-0.9-2.7-0.2
                   c-0.1,0.1-0.1,0.1-0.2,0.2c-0.7,0.7-1.3,1.3-2,2c-0.6,0.6-1,1.3-1,2.2c-0.1,1.4,0.2,2.7,0.7,4c1,2.6,2.5,5,4.3,7.1
                   c2.4,2.9,5.4,5.2,8.7,6.8c1.5,0.8,3.1,1.3,4.8,1.4c1.1,0.1,2.2-0.3,3-1.2c0.6-0.6,1.2-1.2,1.8-1.8c0.8-0.7,0.9-1.9,0.2-2.6
                   c-0.1-0.1-0.1-0.2-0.2-0.2C31.1,26.3,30.1,25.3,29,24.2z"/>
               <path d="M33.2,19.7c-2.1-4.9-6-8.8-10.9-10.8c-0.4-0.1-0.8,0.1-1,0.4c-0.2,0.4,0,0.9,0.4,1.1c4.5,1.9,8.1,5.5,10,10
                   c0.1,0.3,0.4,0.5,0.7,0.5c0.1,0,0.2,0,0.3-0.1C33.2,20.6,33.4,20.1,33.2,19.7z"/>
               <path d="M21.3,14.7c2.7,1.1,4.9,3.3,6.1,6c0.1,0.3,0.4,0.5,0.7,0.5c0.1,0,0.2,0,0.3-0.1c0.4-0.2,0.5-0.6,0.4-1
                   c-1.3-3.1-3.8-5.6-6.9-6.9c-0.4-0.2-0.8,0-1,0.4c0,0,0,0,0,0C20.7,14.1,20.9,14.5,21.3,14.7z"/>
               <g>
                   <path d="M21,1.5c10.8,0,19.5,8.7,19.5,19.5S31.8,40.5,21,40.5S1.5,31.8,1.5,21S10.2,1.5,21,1.5 M21,0C9.4,0,0,9.4,0,21
                       s9.4,21,21,21s21-9.4,21-21S32.6,0,21,0L21,0z"/>
               </g>
               </svg>
                </a>
                <div class="circle"></div>
            </li>
            <li class="parent-circle">
                <a target="_blank" href="https://www.facebook.com/TapdoanHungLocPhat">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill-rule:evenodd;clip-rule:evenodd;}
                        </style>
                        <title>icon zalo</title>
                        <path class="st0" d="M25.4,11.5c0.9,0,1.8,0,2.7,0h0.4V6.9c-0.5,0-1-0.1-1.5-0.1c-0.9,0-1.8-0.1-2.7-0.1c-1.4,0-2.7,0.4-3.9,1.2
                            c-1.3,0.9-2.1,2.3-2.3,3.9c-0.1,0.7-0.2,1.3-0.2,2c0,1,0,2.1,0,3.1v0.4h-4.4v5.1h4.4v12.9h5.4V22.4h4.4c0.2-1.7,0.4-3.4,0.7-5.2
                            h-5.1c0,0,0-2.6,0-3.7C23.3,12,24.2,11.6,25.4,11.5z"/>
                        <g>
                            <path d="M21,1.5c10.8,0,19.5,8.7,19.5,19.5S31.8,40.5,21,40.5S1.5,31.8,1.5,21S10.2,1.5,21,1.5 M21,0C9.4,0,0,9.4,0,21
                                s9.4,21,21,21s21-9.4,21-21S32.6,0,21,0L21,0z"/>
                        </g>
                    </svg>
                
                    <div class="circle"></div>
                </a>
                </li>

            <li class="parent-circle"><a target="_blank" href="https://zalo.me/3269496743590374703">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
                        <title>icon zalo</title>
                        <g>
                            <path d="M21,1.5c10.8,0,19.5,8.7,19.5,19.5S31.8,40.5,21,40.5S1.5,31.8,1.5,21S10.2,1.5,21,1.5 M21,0C9.4,0,0,9.4,0,21
                                s9.4,21,21,21s21-9.4,21-21S32.6,0,21,0L21,0z"/>
                        </g>
                        <path d="M15.8,15.8c-0.1,0-0.3,0-0.4,0.1c-0.2,0.1-0.4,0.2-0.4,0.4c-0.1,0.3,0.1,0.6,0.4,0.7c0,0,0,0,0,0c0.1,0,0.3,0,0.4,0h1.8
                            c0.1,0,0.1,0,0.2,0.1l-0.1,0.2l-2.6,3.3c-0.4,0.2-0.6,0.6-0.4,1c0.2,0.4,0.6,0.6,1,0.4c0.3,0,0.5,0,0.8,0c0.9,0,1.8,0,2.7,0
                            c0.4,0,0.7-0.2,0.7-0.6c0-0.1,0-0.1,0-0.2c0-0.4-0.3-0.5-0.7-0.5c-0.8,0-1.6,0-2.5,0l0,0l0.2-0.3c0.7-0.9,1.5-1.9,2.2-2.8
                            c0.2-0.3,0.4-0.6,0.6-0.9c0.1-0.3,0-0.7-0.3-0.8c0,0-0.1,0-0.1,0c-0.2,0-0.4-0.1-0.5-0.1H15.8z"/>
                        <path d="M21.4,22c0.6,0.2,1.2,0.1,1.7-0.3c0.1-0.1,0.2-0.1,0.3,0c0.2,0.2,0.5,0.3,0.8,0.2c0.3-0.1,0.5-0.3,0.5-0.6
                            c0-1.1,0-2.3,0-3.4c0-0.4-0.3-0.7-0.7-0.7c0,0-0.1,0-0.1,0c-0.2,0.1-0.4,0.2-0.5,0.4c-0.6-0.6-1.6-0.7-2.3-0.2
                            c-0.9,0.5-1.4,1.5-1.1,2.6C20,20.9,20.6,21.7,21.4,22z M22.4,18.5c0.3,0,0.5,0.1,0.7,0.4c0.3,0.5,0.3,1.1,0,1.6
                            c-0.1,0.1-0.1,0.1-0.2,0.2c-0.4,0.3-1,0.2-1.3-0.2c-0.1-0.2-0.2-0.4-0.2-0.7C21.3,19,21.8,18.5,22.4,18.5L22.4,18.5z"/>
                        <path d="M25.3,21.3c0,0.3,0.2,0.6,0.5,0.7l0.2,0c0.4,0,0.7-0.3,0.7-0.7c0,0,0,0,0,0V16c0-0.4-0.3-0.7-0.7-0.7
                            c-0.4,0-0.7,0.3-0.7,0.7c0,0.3,0,0.5,0,0.8L25.3,21.3z"/>
                        <path d="M29.9,22.1c1.3-0.1,2.3-1.2,2.1-2.5c0,0,0,0,0,0c-0.1-1.3-1.2-2.3-2.5-2.3c-1.3,0.1-2.3,1.2-2.3,2.5c0,1.3,1,2.3,2.2,2.4
                            C29.6,22.2,29.7,22.1,29.9,22.1z M28.7,19.7c-0.1-0.5,0.3-1.1,0.9-1.1c0,0,0.1,0,0.1,0c0.3,0,0.5,0.1,0.7,0.4c0.3,0.5,0.3,1.1,0,1.6
                            c-0.3,0.4-0.9,0.5-1.3,0.2c0,0,0,0,0,0c-0.1,0-0.1-0.1-0.2-0.2C28.7,20.2,28.6,19.9,28.7,19.7z"/>
                        <path d="M34,12.4c0-1-0.4-1.9-1.1-2.6c-0.3-0.3-0.7-0.6-1.2-0.8c-0.5-0.2-1-0.3-1.5-0.3H11.7c-0.3,0-0.7,0.1-1,0.1
                            c-1.4,0.3-2.5,1.5-2.6,3c0,0.2,0,0.4-0.1,0.6v17.1c0,0.2,0,0.3,0,0.5c0,1.8,1.4,3.2,3.2,3.3c1.5,0,3.1,0,4.6,0l0,0h0.3h8.2
                            c2,0,4.1,0,6.1,0l0,0c1.6,0,3-1.2,3.3-2.7c0.1-0.3,0.2-0.7,0.2-1.1V12.4z M33.9,12.4v13.9c-0.1,0-0.1,0.1-0.2,0.1
                            c-1.1,1.1-2.4,2-3.8,2.6c-3.3,1.5-7.1,1.7-10.6,0.4c-0.3-0.1-0.7-0.1-1,0c-0.5,0.1-1,0.3-1.4,0.4c-1.4,0.5-2.8,0.6-4.2,0.3
                            c0,0.1,0.1,0.1,0.1,0.1c0.6,0.6,1.3,1.2,1.9,1.8c0.3,0.3,0.6,0.6,0.9,0.8c0,0,0,0.1,0.1,0.1l0,0c-0.3-0.3-0.6-0.6-0.9-0.8
                            c-0.6-0.6-1.3-1.2-1.9-1.8c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.2-0.1-0.1-0.2l0.2-0.2c0.8-0.4,1.4-1,1.9-1.8c0.4-0.4,0.3-1-0.1-1.4
                            c0,0-0.1-0.1-0.1-0.1c-2.7-2.5-3.9-6.1-3.3-9.7c0.3-2.1,1.3-4,2.7-5.6c0.9-1,1.9-1.8,3-2.4c0,0,0.1-0.1,0.2-0.1h13.1
                            C32.3,8.8,33.9,10.4,33.9,12.4z"/>
                    </svg>
                <div class="circle"></div>
            </a>
        </li>
            
            <li class="parent-circle">
                <a href="mailto:sales@muinesummerland.vn">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
                        <title>icon zalo</title>
                        <path d="M30.4,12H11.6c-1.7,0-3.1,1.4-3.1,3.1v11.7c0,1.7,1.4,3.1,3.1,3.1h18.8c1.7,0,3.1-1.4,3.1-3.1V15.1
                            C33.5,13.4,32.1,12,30.4,12z M32,26.9c0,0.9-0.7,1.6-1.6,1.6H11.6c-0.9,0-1.6-0.7-1.6-1.6c0,0,0,0,0,0V15.1c0-0.9,0.7-1.6,1.6-1.6
                            h18.8c0.9,0,1.6,0.7,1.6,1.6c0,0,0,0,0,0V26.9z"/>
                        <path d="M30.2,16.2c-0.3-0.3-0.8-0.4-1.1-0.1L21,22.7l-8.1-6.6c-0.3-0.3-0.8-0.2-1.1,0.1c-0.3,0.3-0.2,0.8,0.1,1.1l8.6,7.1
                            c0.3,0.2,0.7,0.2,1,0l8.6-7.1C30.4,17,30.5,16.5,30.2,16.2z"/>
                        <path d="M27,22.4c-0.3-0.3-0.8-0.3-1.1,0c-0.3,0.3-0.3,0.8,0,1.1l0,0l3.1,3.1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.6-0.2
                            c0.3-0.3,0.3-0.8,0-1.1L27,22.4z"/>
                        <path d="M15,22.4l-3.1,3.1c-0.3,0.3-0.3,0.8,0,1.1c0.2,0.1,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2l3.1-3.1c0.3-0.3,0.3-0.8,0-1.1
                            S15.3,22.1,15,22.4z"/>
                        <g>
                            <path d="M21,1.5c10.8,0,19.5,8.7,19.5,19.5S31.8,40.5,21,40.5S1.5,31.8,1.5,21S10.2,1.5,21,1.5 M21,0C9.4,0,0,9.4,0,21
                                s9.4,21,21,21s21-9.4,21-21S32.6,0,21,0L21,0z"/>
                        </g>
                    </svg>
                    <div class="circle"></div>
                </li>
        </ul>
    </header>
   
    <div class="scroll-to">
        <div class="group">
            <div class="box-scroll-to">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
            </div>
            <div class="text-scroll">Scroll</div>
        </div>
        <div class="line"></div>
    </div>

    <div class="send-info subscribe">
        <div id="fb-root"></div>

        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>

        <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "1782320978645955");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v12.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    </div>

    <!--REGISTER-->
    <!-- <div class="funiture-bottom funiture-apartment">
        <div class="modal fade" id="myModalRegister" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close fancybox-close-small" data-dismiss="modal"></button>
    
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h4>Đăng kí thông tin</h4>
                                <h6>Quý khách vui lòng điền thông tin vào form dưới đây để nhận thông tin.</h6>
                            </div>
                            <div class="form-orders">
                                <div class="col-md-12">
                                    <div class="errors"></div>
                                </div>
                                <form method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <input type="text" name="fullname" class="form-control input" id="fullname" placeholder="Họ tên" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input type="text" name="phone" class="form-control input" id="phone" placeholder="Điện thoại" />
                                        </div>
                                        <div class="form-group form-group-btn col-md-12">
                                            <div class="col-md-12">
                                                <button type="button" class="btn-register btn-orders-register">Đăng ký</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div id="register" class="overlay funiture-bottom funiture-apartment">
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <div class="header-popup">
                <h4>Đăng kí thông tin</h4>
                <h6>Quý khách vui lòng điền thông tin vào form dưới đây.</h6>
            </div>
            <div class="body-popup">
                <input type="text" name="fullname" class="form-control input" id="fullname" placeholder="Họ tên" />
                <input type="text" name="phone" class="form-control input" id="phone" placeholder="Điện thoại" />
            </div>
            <div class="close-popup">
                <button type="button" class="btn-register btn-orders-register">Đăng ký</button>
            </div>
            <!-- <h2>Here i am</h2>
            
            <div class="content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
            </div> -->
        </div>
    </div>
    <!--REGISTER-->

    <main ui-view></main>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" disable-cache></script>
    <script type="text/javascript" src="assets/clients/js/jquery.maphilight.js" disable-cache></script>

    <script src="assets/scripts/vendor/fullpage.js/vendors/jquery.slimscroll.min.js" disable-cache></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" disable-cache></script>
    <script src="assets/scripts/vendor/angular-ui-router/release/angular-ui-router.js" disable-cache></script>
    <script src="assets/scripts/angular-fullPage.js" disable-cache></script>
    <script type="text/javascript" src="assets/clients/js/fullpage.js" disable-cache></script>
    <div id="loadscript">
        <script type="text/javascript" src="assets/clients/vendor/slick/slick.min.js" disable-cache></script>
        <script type="text/javascript" src="assets/clients/js/gsap.min.js" disable-cache></script>
        <script type="text/javascript" src="assets/clients/js/jquery.fancybox.min.js" disable-cache></script>
        <script type="text/javascript" src="assets/clients/vendor/magnific-popup/jquery.magnific-popup.min.js" disable-cache></script>
        <script type="text/javascript" src="assets/clients/js/animations.js"></script>
        <script type="text/javascript" src="assets/clients/js/ch-tienich.js"></script>
        <script type="text/javascript" src="assets/clients/js/zalo.js" disable-cache></script>
    </div>
    <script type="text/javascript" src="assets/clients/js/jquery.nicescroll.min.js" disable-cache></script>
    
    <script src="assets/js/angular-route.min.js" disable-cache></script>
    <script src="assets/js/angular-sanitize.min.js" disable-cache></script>
    <script src="assets/js/angular-md5.js" disable-cache></script>
    <script src="assets/js/datetimepicker.js" disable-cache></script>
    <script src="assets/js/datetimepicker.templates.js" disable-cache></script>
    <script src="assets/js/angular-flash.min.js" disable-cache></script>
    <script src="assets/js/angular-map.min.js" disable-cache></script>
    <script language="javascript" src="assets/includes/ckeditor/ckeditor.js" type="text/javascript" disable-cache></script>
    <script src="assets/includes/ckfinder/ckfinder.js" disable-cache></script>
    <script src="assets/js/angular-ckeditor.min.js" disable-cache></script>
    <script src="assets/js/angular-pagination.js" disable-cache></script>
    <script src="assets/js/checklist-model.js" disable-cache></script>
    
   
    <script src="assets/admin/js/plugins/metisMenu/jquery.metisMenu.js" disable-cache></script>
    <script src="assets/admin/js/plugins/slimscroll/jquery.slimscroll.min.js" disable-cache></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript" disable-cache></script>
    <script src="assets/admin/js/plugins/alasql-develop-includes-excel/alasql.min.js" disable-cache></script>
    <script src="assets/admin/js/plugins/alasql-develop-includes-excel/xlsx.core.min.js" disable-cache></script>
    <script src="assets/admin/js/plugins/js-xlsx-master/shim.min.js" disable-cache></script>
    <script src="assets/admin/js/plugins/js-xlsx-master/xlsx.full.min.js" disable-cache></script>

    <script src="assets/js/angular-js-xlsx.js" disable-cache></script>    
    <script src="assets/js/ngMeta.min.js" disable-cache></script>
    <script src="assets/scripts/app/app.module.js" disable-cache></script>
    <script src="assets/scripts/app/app.config.js" disable-cache></script>
    <script src="assets/scripts/app/app.controller.js" disable-cache></script>
    <script src="assets/scripts/services/baseService.js" disable-cache></script>
    <script src="assets/scripts/services/admin/requestApi.js" disable-cache></script>
    <script src="assets/scripts/app/views/home/home.controller.js" disable-cache></script>
    <script src="assets/scripts/app/views/bietthu/bietthu.controller.js" disable-cache></script>
    <script src="assets/scripts/app/views/canho/canho.controller.js" disable-cache></script>
    <script src="assets/scripts/app/views/tintuc/tintuc.controller.js" disable-cache></script>
    <script src="assets/scripts/app/views/tintuc-detail/tintucdetail.controller.js" disable-cache></script>
    <script src="assets/scripts/app/views/tienich-tang/tienichtang.controller.js" disable-cache></script>
    
    <script src="assets/scripts/directives/angular-slick.js" disable-cache></script>
    <script src="assets/scripts/directives/myDirective.js" disable-cache></script>

    <script>
        gsap.from(".nav-right", 1.5, {
            opacity: 0,
            x: 30,
            ease: "expo.out",
            delay: 0.5
        }, 1)
        gsap.from(".button-nav", 1, {
            opacity: 0,
            ease: "expo.out",
        }, 1)
        gsap.from(".nav-action", 1.5, {
            opacity: 0,
            x: 30,
            ease: "expo.out",
            delay: 0.3
        }, 1)
        gsap.from(".box-scroll-to , .text-scroll ,.line", 1.2, {
            opacity: 0,
            delay: 0.4
        }, 1)
        $('.button-nav').click(function () {
            $('.main-nav ').toggleClass('active-nav')
            $('.body-wrapper').toggleClass('active-body-wrapper')
            $('.wrapper-detail').toggleClass('active-wrapper-detail')
            $('.menu').toggleClass('show-menu')
            $(this).toggleClass('active-button')
            $.fancybox.close();
            $.magnificPopup.close();
        })

        $('.main-nav .nav').find('a').click(function(){
            $('.body-wrapper').toggleClass('active-body-wrapper')
            $('.wrapper-detail').toggleClass('active-wrapper-detail')
            $('.button-nav').toggleClass('active-button')
            $('.menu').removeClass('show-menu')
            $('.main-nav ').removeClass('active-nav')
            $(this).removeClass('active-body-wrapper')
        })

        $('.body-wrapper').click(function () {
            $('.button-nav').toggleClass('active-button')
            $('.menu').removeClass('show-menu')
            $('.main-nav ').removeClass('active-nav')
            $(this).removeClass('active-body-wrapper')
        })
        
    </script>
</body>


</html>