
<div id="tintucfullpage">
    <div class="section page-news" style="background-image:url(./assets/clients/imgs/tintucduan/bg_tintucduan.png);">
        <h1 class="heading-page-news">Tin tức dự án</h1>
        <div class="news-list mask-content">
            <div class="scroll" id="scrollnews">
                <div class="grid-news" ng-if="dataLoadedNews">
                    <div class="link-news" ng-repeat="item in initNews track by $index">
                        <div class="box-news" ng-click="mydetail(item)">
                            <div ng-if="$index == 0 || $index == 1" class="new-icon"></div>
							<div class="pic-thumb">
								<img ng-src="{{item.Image}}" alt="{{item.Image}}" class="img-res">
							</div>
							<div class="date-thumb" ng-bind-html="item.date_month_html"></div>
							<div class="head-text">
								<a ng-click="mydetail(item)" class="popup-with-zoom-anim"><h3 ng-bind="item.ArtName"></h3></a>
								<a class="go-news" ng-click="mydetail(item)" class="popup-with-zoom-anim">chi tiết</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-left"></div>
            <div class="scroll-right"></div>
        </div> 
    </div>
    <script ng-if="dataLoadedNews">
        function reload_js(src) {
            $('script[src="' + src + '"]').remove();
            $('<script>').attr('type', 'text/javascript').attr('src', src).appendTo('#loadscript');
        }
        setTimeout(() => {
            reload_js('assets/clients/js/animations.js');
        },0)
    </script>
    
</div>