<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Admin | SUMMERLAND</title>
    <base href="<?php echo base_url();?>" />
    <link href="assets/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="assets/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="assets/admin/css/animate.css" rel="stylesheet">
    <link href="assets/admin/css/style.css" rel="stylesheet">
    <link href="assets/css/datetimepicker.css" rel="stylesheet">
    <link href="assets/admin/css/myStyles.css" rel="stylesheet">
    <link href="assets/admin/css/autocomplete.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js" disable-cache></script>
</head>

<body class="fixed-sidebar" ng-controller="adminCtrl">
    <div id="fb-root"></div> 
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse" >
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="{{$root.user.Username}}" class="img-circle" ng-src="{{$root.user.Avatar}}" width="48" height="48" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" ng-bind="$root.user.Username"></strong>
                                </span> <span class="text-muted text-xs block"><span ng-bind="$root.user.Level"></span>&nbsp;<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="admin/contactmail">Hộp thư</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="event.navigationPage()">Đăng xuất</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            SUMMERLAND
                        </div>
                    </li>
                    <li>
                        <a href="admin/dashboard">
                            <i class="fa fa-dashboard fa-fw"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="admin/slide">
                            <i class="fa fa-sliders fa-fw"></i>Thư viện</a>
                    </li>
                    <li>
                        <a href="admin/image">
                            <i class="fa fa-sliders fa-fw"></i>Hình ảnh</a>
                    </li> -->
                    <li>
                        <a href="admin/home">
                            <i class="fa fa-envelope fa-fw"></i>
                            <span class="nav-label">Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="admin/about">
                            <i class="fa fa-envelope fa-fw"></i>
                            <span class="nav-label">Trang Giới thiệu</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="admin/content">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Nội dung Slide</span>
                        </a>
                    </li>  -->
                    <li>
                        <a href="">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Trang Vị trí</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">                           
                            <li>
                                <a href="admin/vi-tri">
                                <i class="fa fa-sliders fa-fw"></i>Nội dung</a>
                            </li>                            
                            <li>
                                <a href="admin/tong-quan-vi-tri">
                                <i class="fa fa-sliders fa-fw"></i>Tổng quan Vị trí</a>
                            </li>  
                            <li>
                                <a href="admin/chi-tiet-vi-tri">
                                <i class="fa fa-sliders fa-fw"></i>Chi tiết vị trí</a>
                            </li>                           
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Trang Tiện ích</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">                           
                            <li>
                                <a href="admin/utilities-tq">
                                <i class="fa fa-sliders fa-fw"></i>Nội dung</a>
                            </li> 
                            <li>
                                <a href="admin/tien-ich">
                                <i class="fa fa-sliders fa-fw"></i>Slide tiện ích</a>
                            </li>                           
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Trang Lợi ích</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">                           
                            <li>
                                <a href="admin/noi-dung-loi-ich">
                                <i class="fa fa-sliders fa-fw"></i>Nội dung</a>
                            </li>                            
                            <li>
                                <a href="admin/danh-sach-loi-ich">
                                <i class="fa fa-sliders fa-fw"></i>Danh sách</a>
                            </li>                      
                        </ul>
                    </li>
                    
                    <li>
                        <a href="">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Trang Tiến độ</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse"> 
                            <li>
                                <a href="admin/process-tq">
                                <i class="fa fa-sliders fa-fw"></i>Tổng quan</a>
                            </li>                            
                            <li>
                                <a href="admin/tien-do">
                                    <i class="fa fa-sliders fa-fw"></i>Slide
                                </a>
                            </li>                         
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Trang Liên hệ</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse"> 
                            <li>
                                <a href="admin/contact-tq">
                                <i class="fa fa-sliders fa-fw"></i>Tổng quan</a>
                            </li>                            
                            <li>
                                <a href="admin/partner">
                                <i class="fa fa-sliders fa-fw"></i>Đối tác</a>
                            </li>                           
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-files-o fa-fw"></i>
                            <span class="nav-label">Bài viết</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">     
                            <li>
                                <a href="admin/article-tq">
                                    <i class="fa fa-list-alt fa-fw"></i>Tổng quan</a>
                            </li>                         
                            <li>
                                <a href="admin/categories">
                                    <i class="fa fa-list-alt fa-fw"></i>Danh mục</a>
                            </li>                            
                            <li>
                                <a href="admin/article">
                                    <i class="fa fa-edit fa-fw"></i>Danh sách
                                </a>
                            </li>                            
                        </ul>
                    </li>  

                    <li>
                        <a href="">
                            <i class="fa fa-files-o fa-fw"></i>
                            <span class="nav-label">Biệt thự</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">     
                            <li>
                                <a href="admin/bt-tien-ich">
                                    <i class="fa fa-list-alt fa-fw"></i>Slide tiện ích</a>
                            </li>                         
                            <li>
                                <a href="admin/bt-noi-that">
                                    <i class="fa fa-list-alt fa-fw"></i>Slide nội thất</a>
                            </li>                           
                        </ul>
                    </li>  

                    <li>
                        <a href="">
                            <i class="fa fa-files-o fa-fw"></i>
                            <span class="nav-label">Căn hộ</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">     
                            <li>
                                <a href="admin/ch-tien-ich">
                                    <i class="fa fa-list-alt fa-fw"></i>Slide tiện ích</a>
                            </li>                         
                            <li>
                                <a href="admin/ch-mat-bang">
                                    <i class="fa fa-list-alt fa-fw"></i>Slide mặt bằng</a>
                            </li>  
                            <li>
                                <a href="admin/ch-noi-that">
                                    <i class="fa fa-list-alt fa-fw"></i>Slide nội thất</a>
                            </li>                          
                        </ul>
                    </li>

                    <li>
                        <a href="admin/contactmail">
                            <i class="fa fa-envelope fa-fw"></i>
                            <span class="nav-label">Khách hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="admin/connect">
                            <i class="fa fa-map-marker fa-fw"></i>
                            <span class="nav-label">Kết nối</span>
                        </a>
                    </li>
                    <li>
                        <a href="admin/users">
                            <i class="fa fa-user fa-fw"></i>
                            <span class="nav-label">Tài khoản</span>
                        </a>
                    </li>              
                    <li>
                        <a href="admin/templates">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Template/ SEO</span>
                        </a>
                    </li>
                    <li>
                        <a href="admin/add-script">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">Script</span>
                        </a>
                    </li>
                    <li>
                        <a href="admin/file-du-an">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="nav-label">File dự án</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            SUMMERLAND
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i> <span class="label label-warning" ng-bind="$root.dashboard[0].Number"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li ng-repeat = "item in $root.mailList | limitTo: 5 track by $index" ng-click="event.view(item)">
                                    <div class="dropdown-messages-box">
                                        <a href="#" class="pull-left">
                                            <img alt="image" class="img-circle" src="assets/includes/upload/images/users/noimage.jpg" width="40" height="40" />
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right" ng-bind="item.DateSent"></small>
                                            <strong ng-bind="item.Name"></strong>
                                            <p ng-bind="item.Subject"></p>
                                            <br>
                                            <small class="text-muted" ng-bind="item.Email"></small>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                </li>
                                                                
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="admin/contactmail">
                                            <i class="fa fa-envelope"></i> <strong>Xem tất cả</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" ng-click="event.navigationPage()">
                                <i class="fa fa-sign-out"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="col-lg-12">
                            <h2 ng-bind="$root.currentPage.parent" ng-if="$root.currentPage.child === ''"></h2>
                            <h2 ng-bind="$root.currentPage.child" ng-if="$root.currentPage.child !== ''"></h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="admin">Trang chủ</a>
                                </li>
                                <li class="active">
                                    <strong ng-if="$root.currentPage.child === ''" ng-bind="$root.currentPage.parent"></strong>
                                    <span ng-if="$root.currentPage.child !== ''" ng-bind="$root.currentPage.parent"></span>
                                </li>
                                <li class="active" ng-if="currentPage.child !== ''">
                                    <strong ng-bind="$root.currentPage.child"></strong>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div ng-view="" autoscroll="true"></div>
                    <flash-message>
                        <div class="my-flash"></div>
                    </flash-message>
                    <div class="footer fixed">
                        <div class="pull-right">
                            Powered by <strong>VPSolutions</strong>
                        </div>
                        <div>
                            Copyright <strong>SUMERLAND</strong> &copy; 2021
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="Modal" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceIn">
                    <form role="form" name="Form" ng-submit="event.submitForm()" novalidate>
                        <fieldset>
                            <div class="modal-header">
                                <i class="fa fa-thumbs-up modal-icon"></i>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" ng-bind="label.title"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group center">
                                    <label>Ảnh</label>
                                    <div class="padding-formcontrol">
                                        <img class="img-circle margin-bottom-icon" id="img" src="assets/includes/upload/images/users/noimage.jpg" width=130 height=130 />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tên</label>
                                    <span name="txtName" type="text" ng-bind="$root.selectedMail.Name"></span>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <span name="txtEmail" type="text" ng-bind="$root.selectedMail.Email"></span>
                                </div>
                                <div class="form-group">
                                    <label>Điện thoại</label>
                                    <span name="txtPhone" type="text" ng-bind="$root.selectedMail.Phone"></span>
                                </div>
                                <div class="form-group">
                                    <label>Ngày gửi</label>
                                    <span name="txtDate" type="text" ng-bind="$root.selectedMail.DateSent"></span>
                                </div>
                                <div class="form-group">
                                    <label>Tiêu đề</label>
                                    <span name="txtTitle" type="text" ng-bind="$root.selectedMail.Subject"></span>
                                </div>
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <span name="txtContent" type="text" ng-bind="$root.selectedMail.Content"></span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Mainly scripts -->
<!--    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCdkyjCZz_jbrL7VHlawmqYxmMp-SgWi3I" disable-cache></script>-->
    <!-- <script src="https://maps.google.com/maps/api/js?v3.exp" disable-cache></script> -->
    <script src="assets/js/jquery.min.js" disable-cache></script>
    <script src="assets/js/moment.js" disable-cache></script>
    <!-- AngularJS -->
    <script src="assets/js/angular.min.js" disable-cache></script>
    <script src="assets/js/angular-route.min.js" disable-cache></script>
    <script src="assets/js/angular-sanitize.min.js" disable-cache></script>
    <script src="assets/js/angular-md5.js" disable-cache></script>
    <script src="assets/js/datetimepicker.js" disable-cache></script>
    <script src="assets/js/datetimepicker.templates.js" disable-cache></script>
    <script src="assets/js/angular-flash.min.js" disable-cache></script>
    <script src="assets/js/angular-map.min.js" disable-cache></script>
    <script language="javascript" src="assets/includes/ckeditor/ckeditor.js" type="text/javascript" disable-cache></script>
    <script src="assets/includes/ckfinder/ckfinder.js" disable-cache></script>
    <script src="assets/js/angular-ckeditor.min.js" disable-cache></script>
    <script src="assets/js/angular-pagination.js" disable-cache></script>
    <script src="assets/js/checklist-model.js" disable-cache></script>
    
    <script src="assets/admin/js/bootstrap.min.js" disable-cache></script>
    <script src="assets/admin/js/plugins/metisMenu/jquery.metisMenu.js" disable-cache></script>
    <script src="assets/admin/js/plugins/slimscroll/jquery.slimscroll.min.js" disable-cache></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript" disable-cache></script>
    <script src="assets/admin/js/plugins/alasql-develop-includes-excel/alasql.min.js" disable-cache></script>
    <script src="assets/admin/js/plugins/alasql-develop-includes-excel/xlsx.core.min.js" disable-cache></script>
    <script src="assets/admin/js/plugins/js-xlsx-master/shim.min.js" disable-cache></script>
    <script src="assets/admin/js/plugins/js-xlsx-master/xlsx.full.min.js" disable-cache></script>

    <script src="assets/js/angular-js-xlsx.js" disable-cache></script>
        
    <!-- Custom and plugin javascript -->
    <script src="assets/admin/js/inspinia.js" disable-cache></script>
    <script src="assets/admin/js/plugins/pace/pace.min.js" disable-cache></script>

    <script src="assets/admin/js/plugins/nestable/jquery.nestable.js" disable-cache></script>
    <!-- Toastr -->
    <script src="assets/admin/js/plugins/toastr/toastr.min.js" disable-cache></script>

    <!-- My Scripts -->
    <script src="assets/scripts/configs/admin/app.js" disable-cache></script>
    <script src="assets/scripts/services/admin/requestApi.js" disable-cache></script>
    <script src="assets/scripts/configs/admin/config.js" disable-cache></script>
    <script src="assets/scripts/services/baseService.js" disable-cache></script>
    <script src="assets/scripts/services/encodingExtensions.js" disable-cache></script>
    <script src="assets/scripts/directives/autocomplete.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/adminCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/dashboardCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/languageCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/matbang/MaterplantypeCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/matbang/MaterplanCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/matbang/DetailmasterplanCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/matbang/editDetailCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/userCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/templateCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/category/categoryCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/category/editCategoryCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/article/articleCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/article/editArticleCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/product/productCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/product/editProductCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/navigateCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/widgetCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/mapCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/slideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/customerCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/serviceCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/mailcontactCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/resourceManageCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/orderCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/cateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/bill/billCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/bill/billDetailCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/plusServiceCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/price/postalChargesCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/package/packageCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/package/packageDetailCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/shipment/shipmentCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/shipment/shipmentDetailCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/shipment/shipmentTappingToCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/shipment/shipmentTappingToDetailCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/package/packageTappingToCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/package/packageTappingToDetailCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/postmanCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/assignment/assignmentCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/assignment/approveCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/assignment/deliveryCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/assignment/listassignCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/about2Ctrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/contactCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/contentCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/imageCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/connectCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/tailieuCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/position/positionCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/position/tongquanCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/position/chitietCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/benefit/listbenefitCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/benefit/tongquanbenefitCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/aboutCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/contact/partnerCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/tiCateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/tiSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/tdCateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/tdSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/homeCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/utilities/utilitiesCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/article/articletqCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/process/processtqCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/contact/contacttqCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/scriptCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/fileCtrl.js" disable-cache></script>
    <script src="assets/scripts/directives/myDirective.js" disable-cache></script>

    <script src="assets/scripts/controllers/admin/library/btntCateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/btntSlideCtrl.js" disable-cache></script>

    <script src="assets/scripts/controllers/admin/library/bttiCateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/bttiSlideCtrl.js" disable-cache></script>

    <script src="assets/scripts/controllers/admin/library/chmbCateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/chmbSlideCtrl.js" disable-cache></script>

    <script src="assets/scripts/controllers/admin/library/chntCateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/chntSlideCtrl.js" disable-cache></script>

    <script src="assets/scripts/controllers/admin/library/chtiCateSlideCtrl.js" disable-cache></script>
    <script src="assets/scripts/controllers/admin/library/chtiSlideCtrl.js" disable-cache></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=927241154032737";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 5000
                };
                toastr.info('Chúc 1 ngày tốt lành!', 'Chào mừng tới  VPSolutions');

            }, 1300);
        });
    </script>
</body>

</html>