<div ng-controller="languageCtrl">
    <div class="row">
        <div class="col-md-4">
            <div class="wrapper wrapper-content animated fadeInLeft">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Thêm ngôn ngữ</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel-body">
                            <form role="form" name="addForm" ng-submit="event.submitForm(false)" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <label>Icon</label>
                                        <div class="padding-formcontrol margin-bottom-icon">
                                            <img class="img-circle" id="img" ng-src="{{newLang.Icon}}" width=100 height=100 />
                                        </div>
                                        <div class="input-group">
                                            <input id="txt_url" class="form-control width" placeholder="Đường dẫn ảnh..." name="Icon" type="text" ng-model="newLang.Icon" disabled />
                                            <span class="input-group-btn">
                                            <button id="btnselectImage" type="button" class="btn btn-default btn-browser" ng-click="event.browserImg()">
                                                <span class="fa fa-folder"></span>
                                            </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': addForm.Name.$invalid && addForm.Name.$touched && addForm.Name.$error.required}">
                                        <label>Tên<span class="text-danger">&nbsp;(*)</span></label>
                                        <input class="form-control" placeholder="Tên ngôn ngữ" name="Name" type="text" ng-model="newLang.Name"  required />
                                        <p ng-show="addForm.Name.$invalid && addForm.Name.$touched && addForm.Name.$error.required" class="text-danger">Vui lòng nhập tên.</p>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': addForm.code.$invalid && addForm.code.$touched && addForm.code.$error.required }">
                                        <label>Mã<span class="text-danger">&nbsp;(*)</span></label>
                                        <input class="form-control" placeholder="Mã ngôn ngữ" name="code" type="text" ng-model="newLang.Code"  required />
                                        <p ng-show="addForm.code.$invalid && addForm.code.$touched && addForm.code.$error.required" class="text-danger">Vui lòng nhập mã.</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Trạng thái&nbsp;</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="newLang.Status" ng-true-value="'1'" ng-false-value="'0'" />
                                                    <label class="onoffswitch-label" for="myonoffswitch">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer no-border">
                                        <button type="submit" class="btn btn-primary" ng-disabled="addForm.$invalid">Thêm Ngôn ngữ</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Danh sách ngôn ngữ</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div id="editable_length" class="dataTables_length">
                                            <label>
                                                <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                </select>
                                            </label>
                                            dòng trên mỗi trang
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    <label for="item-all">       
                                                         <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="event.checkAll()">
                                                    </label>
                                                    <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                                </th>
                                                <th class="center">Tên</th>
                                                <th class="center">Icon</th>
                                                <th class="center">Mã</th>
                                                <th class="center">Trạng thái</th>
                                                <th class="center">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in $root.languages | filter:searchText | itemsPerPage: numberPage track by item.ID" pagination-id="filterLang" ng-if="item.ID !== 0">
                                                <td class="center">
                                                    <label for="item-{{item.ID}}">       
                                                         <input id="item-{{item.ID}}" type="checkbox" name="check-item" checklist-model="listToDelete" checklist-value="item.ID">
                                                    </label>
                                                </td>
                                                <td class="center" ng-bind="item.Name"></td>
                                                <td class="center">
                                                    <img class="img-circle" ng-src="{{item.Icon}}" width="50" height="50" />
                                                </td>
                                                <td class="center" ng-bind="item.Code"></td>
                                                <td class="center">
                                                    <i class="fa fa-check text-navy" ng-if="item.Status === '1'"></i>
                                                    <i class="fa fa-times text-navy" ng-if="item.Status === '0'"></i>
                                                </td>
                                                <td class="center">
                                                    <button class="btn btn-info fa fa-edit padding-2" data-toggle="modal" data-target="#myModal" ng-click="event.edit(item)"></button>
                                                    <button class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlert" ng-click="event.getItem(item)"></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row line-top">                                    
                                    <dir-pagination-controls class="right" pagination-id="filterLang" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <form role="form" name="Form" ng-submit="event.submitForm(true)" novalidate>
                    <fieldset>
                        <div class="modal-header">
                            <i class="fa fa-language modal-icon"></i>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Sửa Ngôn ngữ</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Icon</label>
                                <div class="padding-formcontrol margin-bottom-icon">
                                    <img class="img-circle" id="imgEdit" ng-src="{{selectedLang.Icon}}" width=100 height=100 />
                                </div>
                                <div class="input-group">
                                    <input id="txt_editUrl" class="form-control width" placeholder="Đường dẫn ảnh..." name="Icon" type="text" ng-model="selectedLang.Icon" disabled />
                                    <span class="input-group-btn">
                                        <button id="btnselectImage" type="button" class="btn btn-default btn-browser" ng-click="event.browserEditImg()">
                                            <span class="fa fa-folder"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>Tên<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tên ngôn ngữ" name="Name" type="text" ng-model="selectedLang.Name"  required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tên.</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.code.$invalid && Form.code.$touched && Form.code.$error.required }">
                                <label>Mã<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Code" name="code" type="text" ng-model="selectedLang.Code"  required />
                                <p ng-show="Form.code.$invalid && Form.code.$touched && Form.code.$error.required" class="text-danger">Vui lòng nhập mã.</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Trạng thái&nbsp;</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="selectedLang.Status" ng-true-value="'1'" ng-false-value="'0'" />
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer no-border">
                            <p class="{{notice.class}}" ng-bind="notice.message"></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Lưu</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa Ngôn ngữ</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="event.del()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>