<div ng-controller="billCtrl">    
    <div class="row">        
        <div class="col-md-12">
            <div class="row wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách đơn hàng</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <button class="btn btn-primary" ng-click="add()">Thêm mới</button>                                
                                <a class="btn btn-primary btn-file" href="assets/includes/upload/files/FILE NHAP BILL EXCEL.xlsx" target="_blank">                                    
                                    File mẫu excel
                                </a>   
                                <button class="btn btn-primary btn-file" type="button">
                                    <js-xls onread="read" onerror="error"></js-xls>
                                    Nhập excel
                                </button>  
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="editable_length" class="dataTables_length">
                                        <label>
                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </label>
                                        dòng trên mỗi trang
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive" ng-if="($root.user.Level !== 'Bưu tá')">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <label for="item-all">       
                                                     <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="checkAll()">
                                                </label>
                                                <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                            </th>
                                            <th class="center">Mã vận đơn</th>
                                            <th class="center">Khách hàng gửi</th>
                                            <th class="center">Ngày tạo đơn</th>
                                            <th class="center">Người tạo đơn</th>
                                            <th class="center">Nơi đi</th>
                                            <th class="center">Nơi đến</th>
                                            <th class="center">Trọng lượng</th>
                                            <th class="center">Cước chính</th>
                                            <th class="center">Phí nhiên liệu</th>
                                            <th class="center">Phụ phí khác</th>
                                            <th class="center">VAT</th>
                                            <th class="center">Tổng cước</th>
                                            <!-- <th class="center">Chiết khấu</th>
                                            <th class="center">Thành tiền cước</th> -->
                                            <th class="center">Trạng thái</th>
                                            <th class="center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in LIST_PURCHASE | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                            <td class="center">
                                                <label for="item-{{item.billId}}">       
                                                     <input id="item-{{item.billId}}" type="checkbox" name="check-item" checklist-model="listToDelete.listBillIds" checklist-value="item.billId">
                                                </label>
                                            </td>
                                            <td class="center" ng-bind="item.billCustomId"></td>
                                            <td class="center" ng-bind="item.CustomerName"></td>     
                                            <td class="center" ng-bind="item.createdDate"></td>
                                            <td class="center" ng-bind="item.UserName"></td>
                                            <td class="center" ng-bind="item.provinceFrom"></td>
                                            <td class="center" ng-bind="item.provinceTo"></td>
                                            <td class="center" ng-bind="item.weight"></td>
                                            <td class="center" ng-bind="item.unitPrice | number"></td>
                                            <td class="center" ng-bind="item.fuelFee | number"></td>
                                            <td class="center" ng-bind="item.additionalFee | number"></td>
                                            <td class="center" ng-bind="item.vat | number"></td>
                                            <td class="center" ng-bind="item.totalPrice | number"></td>
                                            <!-- <td class="center" ng-bind="item.totalDiscount | number"></td>
                                            <td class="center" ng-bind="(item.totalPrice - item.totalDiscount) | number"></td> -->
                                            <td ng-dblclick="appendSelectStatus(item.billId)" id="status-{{item.billId}}">
                                                <span ng-if="item.status === '2'" class="label label-success">Phát thành công</span>
                                                <span ng-if="item.status === '1'" class="label label-primary">Đang vận chuyển</span>
                                                <span ng-if="item.status === '0'" class="label label-warning">Đang đóng gói</span>
                                                <span ng-if="item.status === '-1'" class="label label-danger">Đã hủy đơn hàng</span>
                                                <span ng-if="item.status === '3'" class="label label-danger">Tồn - Thông báo chuyển hoàn</span>
                                                <span ng-if="item.status === '4'" class="label label-warning">Hoàn thành công - Chuyển trả người gửi</span>
                                            </td>
                                            <td class="center">
                                                <button ng-if="($root.user.Level !== 'Tổng bưu cục')" class="btn btn-info fa fa-edit padding-2" ng-click="edit(item)"></button>
                                                <button class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlert" ng-click="detail(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row line-top">
                                <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa đơn hàng</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="del()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>