<div>    
    <div class="row">        
        <div class="col-md-12">
            <div class="row wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách tải</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="editable_length" class="dataTables_length">
                                        <label>
                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </label>
                                        dòng trên mỗi trang
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <!-- <th class="center">
                                                <label for="item-all">       
                                                     <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="event.checkAll()">
                                                </label>
                                                <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                            </th> -->
                                            <th class="center">Mã</th>
                                            <th class="center">Ngày lập</th>
                                            <th class="center">Hub đi</th>
                                            <th class="center">Hub đến</th>
                                            <th class="center">Trọng lượng</th>
                                            <th class="center">Ghi chú</th>
                                            <th class="center">Tổng đơn</th>
                                            <th class="center">Số đơn đã nhận</th>
                                            <th class="center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in packages | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                            <!-- <td class="center">
                                                <label for="item-{{item.packageId}}">       
                                                     <input id="item-{{item.packageId}}" type="checkbox" name="check-item" checklist-model="listToDelete.listPackIds" checklist-value="item.packageId">
                                                </label>
                                            </td> -->
                                            <td class="center" ng-bind="item.packageCustomId"></td>
                                            <td class="center" ng-bind="item.packageDatetime"></td>     
                                            <td class="center" ng-bind="item.fromPlaceDetail"></td>
                                            <td class="center" ng-bind="item.toPlaceDetail"></td>
                                            <td class="center" ng-bind="item.weight"></td>
                                            <td class="center" ng-bind="item.note"></td>
                                            <td class="center" ng-bind="item.numberBill"></td>
                                            <td class="center" ng-bind="item.numberBillReceived"></td>
                                            <td class="center">
                                                <button class="btn btn-info fa fa-edit padding-2" ng-click="event.edit(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row line-top">
                                <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>