.flipinx,
.flipoutx {
	backface-visibility: visible!important
}

.fadein,
.fadeout,
.flipinx,
.flipoutx {
	animation-duration: 1.5s;
	animation-fill-mode: forwards
}

.fadein,
.fadeindown,
.fadeout,
.flipinx,
.flipoutx {
	animation-fill-mode: forwards
}

@keyframes Start {
	from {
		visibility: hidden
	}
	to {
		visibility: visible
	}
}

@keyframes Preloader {
	100% {
		transform: rotate(360deg)
	}
}

@keyframes Play {
	from {
		background-position: 0
	}
	to {
		background-position: -360px
	}
}

@keyframes Ani {
	0% {
		box-shadow: 0 0 0 rgba(220, 220, 220, 0);
		border: 1px solid rgba(220, 220, 220, 0);
		transform: scale(0)
	}
	70% {
		box-shadow: 0 0 50px rgba(220, 220, 220, 1);
		border: 1px solid rgba(220, 220, 220, 1);
		transform: scale(1)
	}
	100% {
		box-shadow: 0 0 60px rgba(220, 220, 220, 0);
		border: 0 solid rgba(220, 220, 220, 0);
		transform: scale(2)
	}
}

@keyframes Rotate {
	from {
		transform: rotate(0) translateZ(0)
	}
	to {
		transform: rotate(360deg) translateZ(0)
	}
}

@keyframes empty {
	0% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100px, 0)
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0)
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -100px, 0)
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0)
	}
}

@keyframes goDown {
	0% {
		opacity: 0;
		transform: translate3d(-50%, -100px, 0)
	}
	100% {
		opacity: 1;
		transform: translate3d(-50%, 0, 0)
	}
}

@keyframes flipInX {
	0% {
		transform: perspective(400px) rotateX(90deg) scale(.5);
		opacity: 0
	}
	100% {
		transform: perspective(400px) rotateX(0) scale(1);
		opacity: 1
	}
}

@keyframes flipOutX {
	0% {
		transform: perspective(400px) rotateX(0) scale(1);
		opacity: 1
	}
	100% {
		transform: perspective(400px) rotateX(90deg) scale(.5);
		opacity: 0
	}
}

@keyframes scaleSmall {
	0% {
		opacity: 0;
		transform: scale(.6)
	}
	100% {
		opacity: 1;
		transform: scale(1)
	}
}

@keyframes scaleLarge {
	0% {
		opacity: 0;
		transform: scale(1.2);
		transform-origin: center center
	}
	100% {
		opacity: 1;
		transform: scale(1);
		transform-origin: center center
	}
}

@keyframes goHeight {
	from {
		transform: scale3d(1, 0, 1);
		transform-origin: center bottom
	}
	to {
		transform: scale3d(1, 1, 1);
		transform-origin: center bottom
	}
}

@keyframes aniHeight {
	from {
		transform: scale3d(1, 0, 1);
		opacity: 0;
		transform-origin: center bottom
	}
	to {
		transform: scale3d(1, 1, 1);
		opacity: 1;
		transform-origin: center bottom
	}
}

@keyframes goWidth {
	from {
		transform: scale3d(0, 1, 1)
	}
	to {
		transform: scale3d(1, 1, 1)
	}
}

@keyframes aniWidth {
	from {
		transform: scale3d(1, 1, 1)
	}
	to {
		transform: scale3d(0, 1, 1)
	}
}

@keyframes moveRight {
	100% {
		transform: translateX(100%)
	}
}

@keyframes toRight {
	0% {
		opacity: 0;
		right: -100px
	}
	100% {
		opacity: 1;
		right: 0
	}
}

@keyframes goRight {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}

@keyframes moveLeft {
	100% {
		transform: translateX(-100%)
	}
}

@keyframes toLeft {
	100% {
		transform: translate3d(-300px, 0, 0)
	}
}

@keyframes goLeft {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}

@keyframes aniLeft {
	0% {
		opacity: 0;
		transform: translate3d(100%, -50%, 0)
	}
	100% {
		opacity: 1;
		transform: translate3d(0, -50%, 0)
	}
}

@keyframes bounceInDown {
	60%,
	75%,
	90%,
	from,
	to {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0)
	}
	75% {
		transform: translate3d(0, -10px, 0)
	}
	90% {
		transform: translate3d(0, 5px, 0)
	}
	to {
		transform: none;
		opacity: 1
	}
}

@keyframes BorderBox {
	0%,
	100% {
		background-position: 0 0
	}
	50% {
		background-position: 100% 100%
	}
}

@keyframes Border {
	0%,
	60% {
		border-top-color: #ffd47d
	}
	20% {
		border-top-color: #285a71
	}
}

@keyframes Border1 {
	0%,
	60% {
		border-color: #ffd47d
	}
	20% {
		border-color: #285a71
	}
}

@keyframes StrokeLine {
	0% {
		stroke-dashoffset: 0
	}
	100% {
		stroke-dashoffset: -200
	}
}

@keyframes StrokeLine1 {
	0% {
		stroke-dashoffset: 0
	}
	100% {
		stroke-dashoffset: 300
	}
}

@keyframes DrawStroke {
	0% {
		stroke-dashoffset: 1500
	}
	100% {
		stroke-dashoffset: 0
	}
}

@keyframes DrawStroke1 {
	0% {
		stroke-dashoffset: 3000
	}
	100% {
		stroke-dashoffset: 0
	}
}

@keyframes StrokeOffset {
	50% {
		stroke-dashoffset: 35%;
		stroke-dasharray: 100% 35%
	}
}

@keyframes Move-Arrow {
	25% {
		opacity: 1
	}
	33.3% {
		opacity: 1;
		transform: translateY(10px)
	}
	66.6% {
		opacity: 1;
		transform: translateY(20px)
	}
	100% {
		opacity: 0;
		transform: translateY(30px) scale(.5)
	}
}

@keyframes InRight {
	0% {
		opacity: 0;
		right: -100px
	}
	100% {
		opacity: 1;
		right: 20px
	}
}

@keyframes trackBallSlide {
	0%,
	100%,
	30%,
	60% {
		opacity: 1;
		transform: translateY(-12px)
	}
	15%,
	50% {
		opacity: 0;
		transform: translateY(8px)
	}
}

.fadein {
	animation-name: fadeIn
}

.fadeout {
	animation-name: fadeOut
}

.flipoutx {
	animation-name: flipOutX
}

.flipinx {
	animation-name: flipInX
}

.fadeindown,
.fadeinup {
	animation-duration: 1s
}

.fadeindown {
	animation-name: fadeInDown
}

.fadeinup {
	animation-name: fadeInUp;
	animation-fill-mode: forwards
}

.goleft,
.goright {
	animation-duration: .8s;
	animation-fill-mode: forwards
}

.goleft {
	animation-name: goLeft
}

.goright {
	animation-name: goRight
}

.scalelarge {
	animation: scaleLarge;
	animation-duration: 1s;
	animation-fill-mode: forwards
}

.hight-out {
	animation: aniHeight;
	animation-duration: 1s;
	animation-fill-mode: forwards
}

.hight-in {
	animation: goiHeight;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: 10
}

.slide-fade-out {
	animation: fadeOut;
	animation-duration: 1s;
	animation-fill-mode: forwards
}

.slide-fade-in {
	animation: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: 10
}

@keyframes BorderBox {
	0%,
	100% {
		background-position: 0 0
	}
	50% {
		background-position: 100% 100%
	}
}





