.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-wrap{
    z-index: 9999999 !important;
}

.mfp-container{
    padding: 0 !important;
}
.dialog {
    background-image: url(../imgs/tintucduan/bg-newdetail.png);
    background-attachment: fixed;
    position: relative;
	height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 100vh;
}
/* .magnificpopupnoscroll{
    overflow: hidden !important;
} */
.close-detail {
    position: fixed !important;
    top: 50% !important;
    right: 4% !important;
    transform: translate(0%,-50%);
    z-index: 99999999999999 !important;
    cursor: pointer;
}
.close-detail svg{
    width: 20px;
}

.content-popup {
    background: #fff;
    height: 100%;
    max-width: 960px;
    margin: 0px 10px;
    width: 100%;
    padding: 30px 50px;
    min-height: 100vh;
}
.content-detail{
    margin-bottom: 25px;
}
.content-popup .group-heading-detail-page{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.content-popup .group-heading-detail-page .date-news{
    background-image: url(../imgs/tintucduan/bgdate.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 95px;
    height: 80px;
    margin-right: 15px;
}
.content-popup .group-heading-detail-page .date-news .big-date {
    font-size: 40px;
    font-family: 'SVN Aptima bold';
    margin-bottom: 0;
}
.content-popup .group-heading-detail-page .date-news .small-date{
    font-size: 12px;
    margin-bottom: 0;
    margin-top: -10px;
}
.content-popup .group-heading-detail-page .heading-detail-news {
    color: #081E3F;
    font-size: 28px;
    text-transform: uppercase;
    border-bottom: 1px dashed;
    font-family: "SVN Aptima bold";
    font-weight: bold;
    padding-bottom: 5px;
    width: 100%
}
.description-content-news img{
    width: 100% !important;
}
.description-content-news .img-res{
    width: 100% !important;
}
.description-content-news .list-share {
    display: flex;
    justify-content: flex-start;
}
.description-content-news .list-share li {
    margin: 0px 3px;
}
.list-register-news {
    position: fixed;
    z-index: 99999;
    left: 70px;
    bottom: 5%;
}
ul.list-register-news li{
    margin-bottom: 20px;
}
ul.list-register-news li:last-child{
    margin-bottom: 0;
}

.wrapper-detail {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 9;
}

.active-wrapper-detail{
    display: block;
}

.close-popup{
    overflow: hidden visible !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #081E3F;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.line-register {
    display: block;
    height: 45px;
    background: #fff;
    width: 2px;
    margin: 0 auto;
}
.width-register{
    display: block;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

@media screen and (max-width: 1024px) {
    .content-popup{
        padding: 30px 15px;
    }
    .mfp-close {
        background-image: none !important;
        color: #333 !important;
        top: auto !important;
        right: 5px !important;
        transform: inherit !important;
    }
    .content-popup .group-heading-detail-page{
        flex-wrap: wrap;
    }
    .content-popup .group-heading-detail-page .heading-detail-news{
        font-size: 20px;
        margin-top: 20px;
    }
    .list-register-news{
        left: 10px;
    }
    ::-webkit-scrollbar {
        width: 0;
      }
    .close-detail{
        top: 85px !important;
        right: 10% !important;
        position: absolute !important;
    }
    .close-detail svg .cls-1{
        fill: #082148;
    }
}

@media screen and (max-width: 1367px) and (min-width: 900px),
(max-height: 601px) {
    
}

@media screen and (max-width: 1440px) {
   
}

@media screen and (max-width:1100px) {
    
}


@media only screen and (max-width: 768px) {
    .list-register-news {
        display: none !important;
    }
}

