#section12 {
    position: relative;
}

.wave-in-great-water-park {
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all .3s ease-in-out;
}

.wave-in-great-water-park svg {
    display: block;
}


.header-great-water-park {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-great-water-park .title-water-park {
    font-size: 22px;
    font-family: 'SVN Aptima bold';
    text-transform: uppercase;
    color: #0a2e56;
    text-align: center;
}

.header-great-water-park .subtitle-water-park {
    font-size: 24px;
    text-transform: uppercase;
    color: #0a2e56;
    text-align: center;
}

.wave-in-great-water-park-footer {
    padding: 0 30px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 2%;
    left: 0;
    right: 0;
    align-items: flex-end;
}

.wave-in-great-water-park-footer__left {
    color: white;
    font-size: 20px;
    max-width: 364px;
    width: 100%;
    text-transform: uppercase;
}


.wave-in-great-water-park-footer__left .number-waterpark {
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
}

.wave-in-great-water-park-footer__middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.wave-in-great-water-park-footer__middle img{
    height: auto;
    width: 145px;
}

.wave-in-great-water-park-footer__middle__title {
    position: absolute;
    color: white;
    font-size: 12px;
    margin-left: 10px;
}

.wave-in-great-water-park-footer__middle .wave-in-great-water-park-footer__middle__content {
    display: flex;
    align-items: center;
}

.wave-in-great-water-park-footer__middle .wave-in-great-water-park-footer__middle__content img,
.wave-in-great-water-park-footer__right img {
    height: fit-content;
    width: 145px;
}

.wave-in-great-water-park-footer__middle .wave-in-great-water-park-footer__middle__content img:last-child {
    margin-top: 28px;
    width: auto;
}

.wave-in-great-water-park-footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.wave-in-great-water-park-footer__right .wave-in-great-water-park-footer__right__title {
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.circle_background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    top: 0;
}

.wave-in-great-water-park-footer-mb{
    display: none;
}

.logo-footer img{
    height: 123px;
}
@media screen and (max-width:1200px) {
    .wave-in-great-water-park-footer__left {
        max-width: 364px;
    }

    .wave-in-great-water-park svg {
        height: 250px;
    }

}

@media screen and (max-width:1100px) {}

@media screen and (max-width: 1024px) {
    .wave-in-great-water-park-footer {
        position: relative;
        background-color: #0a2e56;
        bottom: 1%;
        padding: 10px;
        align-items: center;
        min-height: 140px;
    }

    .wave-in-great-water-park-footer__left {
        font-size: 20px;
    }

    .wave-in-great-water-park-footer__left .number-waterpark {
        font-size: 28px;
    }

    .circle_background {
        display: none;
    }
    .wave-in-great-water-park .wave-in-great-water-park-footer{
        display: none;
    }
    .wave-in-great-water-park-footer-mb{
        display: block;
        background: url(../imgs/bg-footer.png);
        position: absolute;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }
    .wave-in-great-water-park-footer-mb .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        max-width: 895px;
        margin: 0 auto;
    }

    .wave-in-great-water-park-footer-mb .logo-footer .left{
        display: flex;
        align-items: center;
        width: 65%;
    }
    .wave-in-great-water-park-footer-mb .logo-footer .left img{
        width: 35%;
    }
    .wave-in-great-water-park-footer-mb .logo-footer .right{
        width: 50%;
        text-align: center;
    }
    .wave-in-great-water-park-footer-mb .logo-footer .right img{
        width: 35%;
    }

    .wave-in-great-water-park-footer-mb .logo-footer img {
        width: 100px;
        margin: 0;
    }
    .wave-in-great-water-park-footer-mb .text-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

  

    .text-footer .text {
        width: 50%;
        font-size: 11px;
        text-align: center;
        color: #fff;
        padding: 0 20px;
    }
    .flex-person {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin: 50px 0 30px 0;
    }
    span.number-waterpark {
        margin-right: 8px;
        font-size: 40px;
        font-weight: bold;
    }
    .wave-mobile{
        height: 0;
        margin-top: 20px;
    }
    #section12{
        background-position: center -100px !important;
    }
}

@media screen and (max-width:900px) {

    .wave-in-great-water-park-footer__left {
        font-size: 16px;
    }

    .wave-in-great-water-park-footer__left {
        text-align: center;
        max-width: 240px;
        width: 100%;
    }

    .wave-in-great-water-park-footer__left .number-waterpark {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1281px) {
    .wave-in-great-water-park svg {
        height: 240px;
    }
}

@media (max-width:768px) {
    .wave-in-great-water-park-footer__middle .wave-in-great-water-park-footer__middle__content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .wave-in-great-water-park-footer__right{
        max-width: 100%;
    }
}

@media screen and (max-width:700px) {}

@media screen and (max-width:540px) {
    .wave-in-great-water-park-footer {
        align-items: center;
        height: fit-content;
        flex-direction: column;
        gap: 1rem;
    }

    .wave-in-great-water-park-footer__left {
        max-width: 275px;
    }
    .wave-in-great-water-park-footer__right {
        max-width: 350px;
    }
}

@media screen and (max-width:440px) {}

@media screen and (max-width:380px) {
    .wave-in-great-water-park-footer__middle .wave-in-great-water-park-footer__middle__content {
        flex-direction: column;
    }

    .wave-in-great-water-park-footer__middle .wave-in-great-water-park-footer__middle__content img:last-child {
        margin-top: 0px;
    }

}

@media screen and (max-width:320px) {}
@media screen and (max-width: 1550px){
    .wave-in-great-water-park-footer__left{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .wave-in-great-water-park-footer__left .number-waterpark {
        font-size: 45px;
    }
}

@media only screen and (max-device-width: 768px) {
    .wave-in-great-water-park-footer-mb .logo-footer .right{
        width: 50%;
        text-align: center;
    }
    #section12 {
        background: url(../imgs/great-water-park/Dai-Cong-Vien-Nuoc-Mobile.jpg) center center / cover !important;
    }

    .header-great-water-park {
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}