.home-project-outline {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.home-project-outline .title-project-outline {
    font-size: 40px;
    font-family: 'SVN Aptima bold';
    color: white;
    text-transform: uppercase;
}

.home-project-outline .subtitle-project-outline {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: white;
    padding: 0 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.home-project-outline .subtitle-project-outline h3 {
    font-size: 32px;
    color: white;
}


.home-project-outline .thumb-project-outline {
    position: relative;
    cursor: pointer;
}

.home-project-outline .thumb-project-outline .prev-thumb,
.home-project-outline .thumb-project-outline .next-thumb {
    position: absolute;
    z-index: 99;
    top: 0;
    top: 58%;
    transform: translate(0, -50%);
}

.home-project-outline .thumb-project-outline {
    width: 75vw;
    margin: 10px auto;
}

.home-project-outline .thumb-project-outline .prev-thumb {
    left: -75px
}

.home-project-outline .thumb-project-outline .next-thumb {
    right: -75px
}


.thumb-project-slide-item {
    display: flex;
    flex-direction: column;
}

.slide-img-project-outline {
    margin: 4px;
}

.grid-image-project-ouline {
    display: grid !important;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
}


.grid-image-project-ouline  .img-project-outline {
    height: auto;
    width: 100%;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1100px) {
    .home-project-outline {
        height: auto !important; 
        padding: 20px 0px;
    }

    .home-project-outline .title-project-outline {
        font-size: 28px;
    }

    .home-project-outline .subtitle-project-outline h3 {
        font-size: 20px;
    }

    .home-project-outline .thumb-project-outline {
        max-width: 900px;
        margin: 10px auto;
    }

}

@media screen and (max-width:900px) {
    .home-project-outline .thumb-project-outline {
        max-width: 100vw;
        margin: 10px auto;
    }
}

@media screen and (max-width:768px) {

    .home-project-outline .thumb-project-outline .prev-thumb,
    .home-project-outline .thumb-project-outline .next-thumb {
        display: none !important
    }

    .grid-image-project-ouline {
        display: grid !important;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }

    .home-project-outline .thumb-project-outline {
        width: 95vw;
    }

}

@media screen and (max-width:700px) {}

@media screen and (max-width:540px) {}

@media screen and (max-width:480px) {}

@media screen and (max-width:440px) {}

@media screen and (max-width:380px) {}

@media screen and (max-width:320px) {}