.overall-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overall-wrapper .title-overall {
    font-size: 40px;
    color: white;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'SVN Aptima bold';
}

.overall-wrapper .box-image {
    display: flex;
    gap: 8px;
}

.overall-wrapper .box-image .box-item {
    max-width: 600px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right, #d4a655 20%, #f6e286 50%, #d4a655 101%);
}

.overall-wrapper .box-image .box-item img {
    width: 100%;
    max-height: 435px;
    display: block;
}

.overall-wrapper .box-image .box-item h3 {
    color: #0A2A43;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}


.overall-wrapper .box-image .box-item .overcall-box-header:hover img {
    transform: scale(1.1);
    transition: all .5s ease;
}

.overall-wrapper .box-image .box-item .overcall-box-header {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.overall-wrapper .box-image .box-item .overcall-box-header .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: white;
    display: flex;
    justify-self: center;
    align-items: center;
}

.overall-wrapper .box-image .box-item .overcall-box-header:hover .overlay {
    opacity: 0.5;
    cursor: pointer;
    transition: all .5s ease;

}

.overall-wrapper .box-image .box-item .overcall-box-header:hover a.button-detail {
    opacity: 1;
}

.overall-wrapper .box-image .box-item .overcall-box-header a.button-detail {
    position: absolute;
    list-style: none;
    margin: 0 auto;
    color: white;
    font-size: 30px;
    font-family: 'SVN Aptima bold';
    background: #082148;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    opacity: 0;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .box-image {
        flex-direction: row !important;
    }
    .overall-wrapper .box-image .box-item img{
        max-height: 260px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}



@media screen and (max-width:1200px) {}

@media screen and (max-width:1100px) {
    .overall-type {
        height: 100% !important;
        padding: 20px 0px;
    }

    .overall-wrapper .title-overall {
        font-size: 28px;
    }

    .overall-wrapper .box-image .box-item h3 {
        font-size: 18px;
    }

    .box-image {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:900px) {}

@media screen and (max-width:768px) {
    .overall-wrapper .box-image .box-item .overcall-box-header a.button-detail {
        opacity: 1;
    }
    .overall-wrapper .box-image .box-item {
        max-width: 340px;
    }
}

@media screen and (max-width:700px) {}

@media screen and (max-width:540px) {}

@media screen and (max-width:440px) {}

@media screen and (max-width:380px) {}

@media screen and (max-width:320px) {}

@media (max-device-width: 768px) {
    .overall-wrapper .box-image .box-item .overcall-box-header a.button-detail {
        font-size: 21px;
    }
}

@media (max-width : 767px)  {
    .tabs-mb-house {
        max-width: 98% !important;
    }
}