.dot-ani {
    position: absolute;
    bottom: 40%;
    left: 58%;
    transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
    .dot-ani {
        bottom: 40%;
        left: 56%;
    }
}

