.overall-ground {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.overall-ground-wrapper .overall-ground-tabs-left {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overall-ground-wrapper .overall-ground-tabs-left #overall-ground-tabs-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: -6px;
}

.overall-ground-wrapper .overall-ground-tabs-left #overall-ground-tabs-nav li {
    display: flex;
    justify-content: start;
    align-items: center;
}

.overall-ground-wrapper .overall-ground-tabs-left #overall-ground-tabs-nav li a {
    font-family: 'SVN Aptima bold';
    color: #fff;
    font-size: 21px;
    display: block;
}

.overall-ground-wrapper .overall-ground-tabs-left .overall-ground-heading-tabs {
    font-family: 'SVN Aptima bold';
    font-size: 35px;
    color: white;
    text-transform: uppercase;
}

.overall-ground-wrapper .overall-ground-tabs-left #overall-ground-tabs-nav li.active a {
    color: red;
}

@media screen and (max-width: 1024px) {
    .overall-ground {
        display: inherit;
    }

}


@media screen and (max-width:1200px) {}

@media screen and (max-width:1100px) {
    .overall-ground-wrapper {
        height: auto !important; 
    }

    .overall-ground-wrapper .overall-ground-tabs-left .overall-ground-heading-tabs {
        font-size: 30px;
    }

    .overall-ground-wrapper .overall-ground-tabs-left #overall-ground-tabs-nav li a {
        font-size: 16px;
    }

    .overall-ground {
        align-items: center;
        padding: 50px 0;
    }
}

@media screen and (max-width:900px) {
    .overall-ground-wrapper .overall-ground-tabs-left {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 1440px){
    .overall-ground {
        grid-template-columns: 20% 65%;
    }
    .overall-ground-wrapper .overall-ground-tabs-left #overall-ground-tabs-nav{
        grid-gap: 0;
    }

    .overall-ground-wrapper .overall-ground-tabs-left .overall-ground-heading-tabs{
        font-size: 25px;
    }
    .overall-ground-wrapper .overall-ground-tabs-left #overall-ground-tabs-nav li a{
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:700px) {}

@media screen and (max-width:540px) {}

@media screen and (max-width:480px) {}

@media screen and (max-width:440px) {}

@media screen and (max-width:380px) {}

@media screen and (max-width:320px) {}
