.funiture-bottom.funiture-apartment {
	background: none;
	padding: 0px;
}

.body-popup .form-control {
	border: none;
	border-bottom: 1px dashed #ccc;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0px 2px;
	background: none;
	color: #333;
	width: 100%;
	margin-bottom: 15px;
}

.body-popup .form-control {
	border-bottom: 1px dashed #666666;
	font-size: 16px;
}

.btn-register {
	outline: none;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}

.btn-register {
	background: url(../imgs/bg-regis.png) center center no-repeat;
	width: 170px;
	height: 60px;
	-o-background-size: 100%;
	background-size: 100%;
	border: none;
	margin: 0 auto;
	display: block;
	color: #000;
	font-size: 20px;
	font-family: "SFUFuturaRegular";
	text-transform: uppercase;
}

.funiture-bottom h4 {
	text-align: center;
	font-family: 'UTMA-SHeartbeat';
	font-size: 54px;
	color: #333;
	margin-bottom: 20px;
	line-height: 46px;
	padding: 10px 0px;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}

.fancybox-close-small {
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 44px;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	z-index: 10;
	cursor: pointer;
}

.fancybox-close-small:after {
	content: '×';
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	font: 20px/30px Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #888;
	font-weight: 300;
	text-align: center;
	border-radius: 50%;
	border-width: 0;
	background-color: transparent;
	transition: background-color .25s;
	box-sizing: border-box;
	z-index: 2;
}

.fancybox-close-small:focus {
	outline: none;
}

.fancybox-close-small:focus:after {
	outline: 1px dotted #888;
}

.fancybox-close-small:hover:after {
	color: #555;
	background: #eee;
}

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
	top: 0;
	right: -44px;
}

.fancybox-slide--image .fancybox-close-small:after,
.fancybox-slide--iframe .fancybox-close-small:after {
	font-size: 35px;
	color: #aaa;
}

.fancybox-slide--image .fancybox-close-small:hover:after,
.fancybox-slide--iframe .fancybox-close-small:hover:after {
	color: #fff;
	background: transparent;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
	display: none;
}

.box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255,255,255,0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
  }
  
  .button {
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid red;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
  }
  .button:hover {
	background: red;
  }
  
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 9999999999999999;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 20%;
	position: relative;
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: red;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }
  
  /* @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  } */


.popup .header-popup {
    margin-top: 20px;
    display: inline-block;
}

.popup .body-popup{
    margin-top: 20px;
    display: inline-block;
}

.popup .close-popup {
    margin-top: 20px;
}