.home-service-hot{
    display: flex;
    align-items: center;
    justify-content: center;
}

#section10 .container {
    max-width: 85% !important;
}

.heading-sevice-hot{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #123E66;
}
.grid-service {
    display: grid !important;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(4 , 8vw);
    grid-gap: 10px;
}
.slide-service{ 
    width: 100%;
    max-width: 75vw !important;
    margin: auto;
}
.grid-service .box-service-img img {
    object-fit: cover;
    display: block;
    height: 100%;
    transition: all .5s ease;
    width: 100%;
}
.grid-service .box-service {
    position: relative;
    overflow: hidden;
}
.box-service-img {
    height: 100%;
    overflow: hidden;
}

.box-service-text{
    background: url(../imgs/service_hot/item_wave.png);
    height: 80px;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-service-text .title{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.box-service:hover .box-service-img img{
    transform: scale(1.1);
    transition: all .5s ease;
}


.grid-service .box-service:first-child {
    grid-column: 1/2;
    grid-row: 1/5;
}
.grid-service .box-service:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
.grid-service .box-service:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
}
.grid-service .box-service:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/5;
}
.grid-service .box-service:nth-child(5) {
    grid-column: 3/4;
    grid-row: 3/5;
}
.grid-service{
    margin: 5px;
}
.slide-service{
    position: relative;
}
.slide-service .prev-service ,.slide-service .next-service{
    position: absolute;
    top: 50%;
    z-index: 99;
}
.slide-service .next-service{
    right: -50px;
}
.slide-service .prev-service{
    left: -50px;
}

@media screen and (max-width:1100px) {
    .home-service-hot {
        height: 100% !important;
        padding: 20px 0px;
    }
}

@media (max-width : 767px)  {
    
    .slide-service{
        max-width: 94vw !important;
    }
    .heading-sevice-hot{
        font-size: 25px;
    }
    .box-service-text{
        height: 50px;
    }
    .box-service-text .title{
        font-size: 14px;
        margin-top: 10px;
    }
    .grid-service{
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: repeat(4 , 150px);
    }
    .grid-service .box-service:first-child {
        grid-column: 1/5;
        grid-row: 1/3;
    }
    .grid-service .box-service:nth-child(2) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .grid-service .box-service:nth-child(3) {
        grid-column: 3/5;
        grid-row: 3/4;
    }
    .grid-service .box-service:nth-child(4) {
        grid-column: 1/3;
        grid-row: 4/4;
    }
    .grid-service .box-service:nth-child(5) {
        grid-column: 3/5;
        grid-row: 4/5;
    }
    .slide-service .prev-service ,.slide-service .next-service{
        display: none !important;
    }
}
@media screen and (max-width: 1024px){
    .box-service-text{
        height: 50px;
    }
    .box-service-text .title{
        font-size: 11px;
        margin-top: 10px;
    }
    .slide-service{
        max-width: 100%;
    }
}