.tienichtang {
    height: 100%;
    width: 100%;
}

.tien-ich-tang-wrapper {
    background-size: cover;
    background-attachment: fixed;
}

.content-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.facilities-map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.facilities-bg {
    width: 2400px;
    height: 1200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.title-main {
    position: absolute;
    right: 1%;
    top: 29%;
    z-index: 3;
    width: 36%;
}


.tienich-tang-5 .title-main{
    top: 10%;
}

.title-main h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.info-facilities {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.show-box-pic {
    width: auto;
    max-width: 220px !important;
    height: auto;
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    background-color: #D0A24E;
    text-align: center;
    cursor: pointer;
    color: #fff;
    z-index: 500;
    opacity: 0;
    transform: scale(0)
}

.show-box,
.show-box-pic {
    transition: all .5s ease-in-out;
}

.show-box-pic.showup {
    transform: scale(1);
    opacity: 1;
}

.show-box-pic::after {
    position: absolute;
    left: -15px;
    top: 50%;
    margin: -10px 0 0;
    width: 0;
    height: 0;
    border-width: 10px 20px 10px 0;
    border-color: transparent#D0A24E transparent transparent
}

.show-box-pic.no-pic::after {
    left: 25px;
    bottom: -15px;
    top: auto;
    margin: 0 0 0 -10px;
    border-width: 20px 20px 0 0;
    border-color: #D0A24E transparent transparent
}

.show-box-pic.no-pic {
    max-width: inherit;
    padding: 5px 15px
}

.show-box-pic img {
    display: block;
    pointer-events: none;
    border-radius: 10px
}


.faci-text,
.faci-text h3,
.show-box-pic img {
    width: 100%;
    height: auto
}

.dot-num,
.note-facilities li {
    transition: all .3s ease-in-out
}

.faci-text {
    display: block;
    margin: 0
}

.faci-text h3 {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.4;
    margin: 5px 0;
    text-transform: uppercase;
    display: block;
    white-space: normal
}

.faci-text p,
.faci-text span {
    display: block;
    width: 100%;
    height: auto;
    font-weight: 400
}

.faci-text p {
    font-size: 12px;
    line-height: 1.6;
    white-space: normal
}

.faci-text span {
    position: relative;
    font-size: 11px;
    line-height: 1;
    margin: 5px 0
}


.note-facilities {
    height: auto;
    position: absolute;
    right: 1.5%;
    top: 38%;
    text-align: center;
    z-index: 10;
    display: grid;
    grid-template-columns: auto auto;
    width: 36%;
}

.tienich-tang-5 .note-facilities {
    top: 21%;
}

.note-facilities-columns {
    display: flex;
    flex-direction: column;
}

.note-facilities ul {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
}

.note-facilities li {
    position: relative;
    margin: 0 0 3px;
    padding: 1px 14px 1px 3px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: left;
    display: flex !important;
    flex-direction: row;
    width: fit-content;
}

.note-facilities li.current {
    background-color: #07443D;
    box-shadow: 0 0 20px 5px rgb(255 255 255 / 50%);
}

.note-facilities li span {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0px 5px 0 0;
    line-height: 19px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background: #fb5447;
}

.note-facilities li h3 {
    font-size: 11px;
    text-transform: initial;
    vertical-align: middle;
    color: white;
}





/* dot style */

.all-dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.all-dot-top {
    width: 100%;
    height: 100%;
}

.all-dot-top {
    /* left: 0;
    top: 0;
    position: absolute; */
}

.dot-num.current,
.dot-num:hover,
.num-block {
    background-color: #D0A24E;
}

.dot-num {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    box-shadow: 0 0 20px 5px rgb(255 255 255 / 0%);
    border-radius: 50%;
    background: #fb5447;
}

.dot-num,
.num-block {
    font-family: 'UTM-Aptima';
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.dot-num,
.dot-num span.circle {
    display: block;
    position: absolute;
}

/* dot position*/

/* tang 1 */
.dot-01 {
    left: 578px;
    bottom: 320px;
}

.dot-02 {
    left: 460px;
    bottom: 535px;
}

.dot-03 {
    left: 506px;
    bottom: 335px;
}

.dot-03-02 {
    left: 1026px;
    bottom: 554px;
}

.dot-03-03 {
    left: 1068px;
    bottom: 456px;
}

.dot-03-04 {
    left: 1546px;
    bottom: 366px;
}

.dot-04 {
    left: 1073px;
    bottom: 392px;
}

.dot-05 {
    left: 694px;
    bottom: 496px;
}

.dot-06 {
    left: 865px;
    bottom: 420px;
}

.dot-06-02 {
    left: 1220px;
    bottom: 563px;
}

.dot-06-03 {
    left: 1295px;
    bottom: 421px;
}

.dot-06-04 {
    left: 1442px;
    bottom: 377px;
}

.dot-07 {
    left: 900px;
    bottom: 562px;
}

.dot-07-02 {
    left: 1384px;
    bottom: 541px;
}

.dot-08 {
    left: 630px;
    bottom: 340px;
}

.dot-08-02 {
    left: 982px;
    bottom: 408px;
}

.dot-08-03 {
    left: 1255px;
    bottom: 398px;
}

.dot-09 {
    left: 875px;
    bottom: 482px;
}

.dot-09-02 {
    left: 1135px;
    bottom: 496px;
}

.dot-09-03 {
    left: 1340px;
    bottom: 463px;
}

.dot-09-04 {
    left: 1585px;
    bottom: 459px;
}

.dot-10 {
    left: 1012px;
    bottom: 494px;
}

.dot-11 {
    left: 796px;
    bottom: 366px;
}

.dot-11-02 {
    left: 1346px;
    bottom: 363px;
}

.dot-12 {
    left: 1127px;
    bottom: 226px;
}

.dot-13 {
    left: 300px;
    bottom: 275px;
}

.dot-14 {
    left: 755px;
    bottom: 590px;
}

.dot-15 {
    left: 1505px;
    bottom: 267px;
}
/* end tang 1 */

/* tang 4 */
.dot-16 {
    left: 1588px;
    bottom: 468px;
}

.dot-17 {
    left: 1568px;
    bottom: 521px;
}

.dot-18 {
    left: 1617px;
    bottom: 429px;
}
/* end tang 4 */

/* tang 5 */
.dot-19 {
    left: 740px;
    bottom: 780px;
}

.dot-20 {
    left: 747px;
    bottom: 829px;
}

.dot-21 {
    left: 542px;
    bottom: 807px;
}
.dot-21-02 {
    left: 412px;
    bottom: 775px;
}
.dot-21-03 {
    left: 398px;
    bottom: 693px;
}
.dot-21-04 {
    left: 479px;
    bottom: 714px;
}
.dot-21-05 {
    left: 452px;
    bottom: 611px;
}
.dot-21-06 {
    left: 618px;
    bottom: 754px;
}

.dot-22 {
    left: 692px;
    bottom: 726px;
}

.dot-23 {
    left: 716px;
    bottom: 605px;
}
.dot-23-02 {
    left: 1187px;
    bottom: 683px;
}

.dot-24 {
    left: 1644px;
    bottom: 676px;
}
.dot-24-02 {
    left: 643px;
    bottom: 509px;
}
.dot-24-03 {
    left: 1135px;
    bottom: 600px;
}

.dot-25 {
    left: 610px;
    bottom: 700px;
}
.dot-25-02 {
    left: 651px;
    bottom: 555px;
}
.dot-25-03 {
    left: 800px;
    bottom: 586px;
}
.dot-25-04 {
    left: 1106px;
    bottom: 652px;
}
.dot-25-05 {
    left: 1270px;
    bottom: 652px;
}

.dot-26 {
    left: 887px;
    bottom: 458px;
}
.dot-27 {
    left: 842px;
    bottom: 493px;
}
.dot-28 {
    left: 1191px;
    bottom: 588px;
}

.dot-29 {
    left: 1280px;
    bottom: 588px;
}
.dot-30 {
    left: 1153px;
    bottom: 492px;
}
.dot-31 {
    left: 1241px;
    bottom: 485px;
}
.dot-32 {
    left: 529px;
    bottom: 408px;
}
.dot-33 {
    left: 1444px;
    bottom: 547px;
}
.dot-34 {
    left: 1394px;
    bottom: 578px;
}
.dot-35 {
    left: 1096px;
    bottom: 512px;
}
.dot-36 {
    left: 1191px;
    bottom: 539px;
}
.dot-37 {
    left: 1191px;
    bottom: 588px;
}
.dot-37 {
    left: 1689px;
    bottom: 674px;
}
.dot-38 {
    left: 1100px;
    bottom: 790px;
}
.dot-38-02 {
    left: 1697px;
    bottom: 480px;
}

.dot-39 {
    left: 1048px;
    bottom: 632px;
}
.dot-40 {
    left: 1084px;
    bottom: 618px;
}
.dot-41 {
    left: 1635px;
    bottom: 555px;
}
.dot-42 {
    left: 1678px;
    bottom: 632px;
}
.dot-43 {
    left: 1709px;
    bottom: 764px;
}
.dot-44 {
    left: 1654px;
    bottom: 747px;
}
.dot-45 {
    left: 1314px;
    bottom: 494px;
}
.dot-46 {
    left: 1378px;
    bottom: 473px;
}
.dot-47 {
    left: 588px;
    bottom: 477px;
}
.dot-48 {
    left: 1513px;
    bottom: 622px;
}

.dot-49 {
    left: 1431px;
    bottom: 685px;
}
.dot-50 {
    left: 1453px;
    bottom: 638px;
}
.dot-51 {
    left: 1600px;
    bottom: 449px;
}
.dot-52 {
    left: 1623px;
    bottom: 406px;
}
.dot-53 {
    left: 490px;
    bottom: 581px;
}
.dot-54 {
    left: 744px;
    bottom: 736px;
}
.dot-55 {
    left: 1714px;
    bottom: 719px;
}
/* end tang 5 */

/* tang 27 */
.dot-56 {
    left: 512px;
    bottom: 635px;
}
.dot-56-02 {
    left: 869px;
    bottom: 661px;
}
.dot-56-03 {
    left: 1430px;
    bottom: 641px;
}

.dot-57 {
    left: 521px;
    bottom: 560px;
}
.dot-58 {
    left: 548px;
    bottom: 489px;
}
.dot-59 {
    left: 554px;
    bottom: 446px;
}


.dot-60 {
    left: 516px;
    bottom: 523px;
}
.dot-60-02 {
    left: 1484px;
    bottom: 577px;
}

.dot-61 {
    left: 588px;
    bottom: 491px;
}
.dot-62 {
    left: 591px;
    bottom: 443px;
}

.dot-63 {
    left: 544px;
    bottom: 412px;
}
.dot-63-02 {
    left: 526px;
    bottom: 466px;
}

.dot-64 {
    left: 500px;
    bottom: 719px;
}

.dot-65 {
    left: 840px;
    bottom: 733px;
}
.dot-65-02 {
    left: 1408px;
    bottom: 710px;
}
.dot-65-03 {
    left: 854px;
    bottom: 719px;
}
.dot-65-04 {
    left: 1714px;
    bottom: 719px;
}

.dot-66 {
    left: 900px;
    bottom: 663px;
}
.dot-66-02 {
    left: 1461px;
    bottom: 621px;
}
.dot-66-03 {
    left: 1447px;
    bottom: 667px;
}

.dot-67 {
    left: 935px;
    bottom: 596px;
}
.dot-67-02 {
    left: 961px;
    bottom: 539px;
}
.dot-67-03 {
    left: 1528px;
    bottom: 521px;
}
.dot-67-04 {
    left: 1564px;
    bottom: 454px;
}

.dot-68 {
    left: 920px;
    bottom: 569px;
}
.dot-68-02 {
    left: 1519px;
    bottom: 489px;
}

.dot-69 {
    left: 933px;
    bottom: 542px;
}
.dot-69-02 {
    left: 1538px;
    bottom: 468px;
}
/* end tang 5 */

@media only screen and (min-device-width : 1365px) and (max-device-width : 1367px)  {
   
    .tienich-tang-5 .title-main {
        top: 17%;
    }

    .tienich-tang-5 .note-facilities {
        top:0;
        bottom: 0;
        align-items: center;
    }
    .faci-text h3 {
        text-transform: none;
    }

    .note-facilities li h3 {
        font-size: 9px;
        text-transform: initial;
        vertical-align: middle;
        color: white;
    }
}

@media screen and (max-width:1200px) {
    .tien-ich-tang-wrapper {
        height: auto !important; 
    }

    .tienichtang {
        height: 100% !important;
        padding: 20px 0px;
    }

    .content-main {
        display: flex;
        flex-direction: column;
    }

    .title-main {
        align-items: center;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        max-width: 100%;
        width: 100%;
    }

    .facilities-map,.note-facilities {
        position: static;
    }

    .note-facilities {
        margin-top: 20px;
        width: 100%;
    }

    .note-facilities {
        display: grid;
        grid-template-columns: auto auto;
    }

    .note-facilities-columns {
        flex-direction: row;
    }

    .tienich-tang-5 .title-main {
        top: 5%;
    }

    .note-facilities li h3{
        font-size: 11px;
    }
}

@media screen and (max-width:1100px) {
    
}

@media screen and (max-width:1000px) {
   
}

@media screen and (max-width:900px) {}

@media screen and (max-width:767px) {
    .note-facilities {
        display: flex;
        flex-direction: row;
        padding: 10px;
        align-items: flex-start;
    }

    .note-facilities-columns {
        flex-direction: column;
    }

    .tienich-tang-5 .title-main {
        top: 5%;
    }
    .title-main h2 {
        font-size: 16px;
    }
    
}

@media only screen and (device-width: 768px) {
    .note-facilities li h3 {
        font-size: 8px;
    }
}

@media screen and (max-width:700px) {
    
}

@media screen and (max-width:540px) {
    .note-facilities {
        grid-template-columns: auto;
        
    }

    .note-facilities-columns {
        flex-direction: column;
    }
    .tienich-tang-5 .note-facilities {
        align-items: flex-start;
    }
}

@media screen and (max-width:440px) {
    .note-facilities {
        margin-top: 40px;
        flex-direction: column;
    }
    .tienich-tang-5 .title-main,.tien-ich-tang-26 .title-main {
        top: 30px;
    }
}

@media screen and (max-width:380px) {}

@media screen and (max-width:320px) {}

@media screen and (max-width: 1550px) {}


@media only screen and (min-device-width : 1920px)  {

    .note-facilities {
        width: 33%;
    }

    .title-main {
        width: 33%;
    }

    .note-facilities li {
        padding: 5px 14px 5px 5px;
    }

    .note-facilities li h3 {
        font-size: 12px;
    }

    .tienich-tang-5 .title-main {
        top: 19%;
    }

    .tienich-tang-5 .note-facilities {
        top: 24%;
    }
}