<div ng-controller="editProductCtrl">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <form role="form" name="Form" ng-submit="event.submitForm()" novalidate>
                <fieldset>
                    <div class="col-lg-9">
                        <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                            <label>Tiêu đề<span class="text-danger">&nbsp;(*)</span></label>
                            <input class="form-control" placeholder="Tiêu đề" name="Name" type="text" ng-model="selectedPro.ProName" required ng-blur="event.selectedChange()" autofocus />
                            <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': Form.Meta.$invalid && Form.Meta.$touched && Form.Meta.$error.required}">
                            <label>Đường dẫn<span class="text-danger">&nbsp;(*)</span></label>
                            <input class="form-control" placeholder="Đường dẫn" name="Meta" type="text" ng-model="selectedPro.ProMeta" required />
                            <p ng-show="Form.Meta.$invalid && Form.Meta.$touched && Form.Meta.$error.required" class="text-danger">Vui lòng nhập đường dẫn.</p>
                        </div>
                        <div class="form-group">
                            <label>Mô tả ngắn</label>
                            <textarea class="form-control" rows="5" placeholder="Tóm tắt/Mô tả" name="Des" type="text" ng-model="selectedPro.ProDescribes"></textarea>                            
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Thông tin sản phẩm</h5>                                
                            </div>
                            <div class="ibox-content">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nhà sản xuất</label>
                                            <input class="form-control" placeholder="Nhà sản xuất" name="Manufacture" type="text" ng-model="selectedPro.Manufacture" />
                                        </div> 
                                        <div class="form-group">
                                            <label>Mã sản phẩm</label>
                                            <input class="form-control" placeholder="Mã sản phẩm" name="Manufacture" type="text" ng-model="selectedPro.ProductCode" />
                                        </div> 
                                    </div>
                                    <div class="col-md-6">                 
                                        <div class="form-group">
                                            <label>Giá</label>
                                            <input class="form-control" placeholder="Giá sản phẩm" name="Price" type="text" ng-model="selectedPro.Price" /> 
                                        </div> 
                                        <div class="form-group">
                                            <label>Giảm giá</label>
                                            <input class="form-control" placeholder="Giảm giá sản phẩm" name="Discount" type="text" ng-model="selectedPro.Discount" />
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea ckeditor="options" ng-model="selectedPro.Content" name="proDetail"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Thông tin kĩ thuật</label>
                            <textarea ckeditor="options" ng-model="selectedPro.Estimate" name="proEst"></textarea>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Thông tin SEO</h5>                                
                            </div>
                            <div class="ibox-content">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error': Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required}">
                                            <label>SEO Title<span class="text-danger">&nbsp;(*)</span></label>
                                            <input class="form-control" placeholder="Tiêu đề" name="SeoTitle" type="text" ng-model="selectedPro.SeoTitle"  required />
                                            <p ng-show="Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required" class="text-danger">Vui lòng nhập seo title.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>SEO Keyword</label>
                                            <input class="form-control" placeholder="Từ khoá" name="SeoKeyword" type="text" ng-model="selectedPro.SeoKeyword"  />                                            
                                        </div>                                        
                                        <div class="form-group" ng-class="{'has-error': Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required}">
                                            <label>SEO Canonica<span class="text-danger">&nbsp;(*)</span></label>
                                            <input class="form-control" placeholder="Canonica" name="SeoCanonica" type="text" ng-model="selectedPro.SeoCanonica"  required />
                                            <p ng-show="Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required" class="text-danger">Vui lòng nhập seo describes.</p>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">             
                                        <div class="form-group">
                                            <label>Meta Robot</label>
                                            <input class="form-control" placeholder="Meta Robot" name="MetaRobot" type="text" ng-model="selectedPro.MetaRobot"  />                                            
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required}">
                                            <label>SEO Describes<span class="text-danger">&nbsp;(*)</span></label>
                                            <textarea class="form-control" placeholder="Mô tả" name="SeoDescribes" rows="3" ng-model="selectedPro.SeoDescribes"  required></textarea>
                                            <p ng-show="Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required" class="text-danger">Vui lòng nhập seo describes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Đăng sản phẩm</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="panel-body">
                                        <label><i class="fa fa-user"></i>&nbsp;Tác giả:</label>&nbsp;<span ng-bind="selectedPro.Username"></span>
                                        <div class="form-group">  
                                            <label><i class="fa fa-calendar"></i>&nbsp;Ngày tạo:</label>
                                            <div class="dropdown width">
                                                <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                    <div class="input-group">
                                                        <input type="datetime" class="form-control input-sm" name="postOn" ng-model="selectedPro.DateCreated" />
                                                        <span class="input-group-btn">
                                                        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-calendar"></i></button> </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker ng-model="selectedPro.DateCreated" data-datetimepicker-config="{ dropdownSelector: '#dLabel', minuteStep: 1,modelType: 'YYYY-MM-DD HH:mm:ss'}"></datetimepicker>
                                                </ul>
                                            </div>                                            
                                        </div>                                                                                
                                        <div class="form-group" ng-class="{'has-error': Form.lang.$invalid && Form.lang.$touched && Form.lang.$error.required }">  
                                            <label><i class="fa fa-language"></i>&nbsp;Ngôn ngữ<span class="text-danger">&nbsp;(*)</span></label>                  
                                            <div class="selectContainer width">
                                                <select id="cbLang" class="form-control ui search dropdown" name="lang" ng-model="selectedPro.ProLang" required>
                                                    <option style="display:none" value="">--Chọn ngôn ngữ--</option>
                                                    <option ng-repeat="item in $root.languages track by $index" ng-if="item.ID !== 0 && item.Status !== '0'" value="{{item.Code}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                            <p ng-show="Form.lang.$invalid && Form.lang.$touched && Form.lang.$error.required" class="text-danger">Vui lòng chọn ngôn ngữ.</p>
                                        </div>
                                        <label><i class="fa fa-eye"></i>&nbsp;Lượt xem:</label>&nbsp;<span ng-bind="selectedPro.ViewCount"></span>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <label><i class="fa fa-check"></i>&nbsp;Trạng thái:</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="selectedPro.Status" ng-true-value="'1'" ng-false-value="'0'" />
                                                    <label class="onoffswitch-label" for="myonoffswitch">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer no-border">
                                        <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Đăng</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft" style="z-index: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Danh mục</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">  
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchCate" /> 
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': Form.cates.$invalid && Form.cates.$error.required }">                  
                                            <div class="checkbox" dir-paginate="cate in $root.categories | itemsPerPage: 5 | filter: searchCate" pagination-id="catePagination">                                               
                                               <label for="cate-{{cate.CatID}}">       
                                                 <input id="cate-{{cate.CatID}}" type="checkbox" name="cates" checklist-model="cateList" checklist-value="cate.CatID">       
                                                 {{cate.CatName}}
                                               </label>                                          
                                            </div> 
                                        </div>                                    
                                    <div class="modal-footer no-border">
                                        <dir-pagination-controls class="right" pagination-id="catePagination" max-size="3"></dir-pagination-controls> 
                                    </div>                                     
                                </div>
                            </div>
                        </div>                        
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Kiểu hiển thị<span class="text-danger">&nbsp;(*)</span></h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" ng-class="{'has-error': Form.temps.$invalid && Form.temps.$error.required }"> 
                                    <div>
                                        <div class="radio" ng-repeat="temp in $root.templates track by $index" ng-if="temp.Status !== '0' && temp.Type === 'product'">
                                          <label>
                                            <input type="radio" name="temps" ng-model="selectedPro.TempId" ng-init="selectedPro.TempId = temp.TempID" value="{{temp.TempID}}" required />
                                            {{temp.TempName}}
                                          </label>                                          
                                        </div>
                                    </div>                                    
                                    <p class="text-danger" ng-show="Form.temps.$invalid && Form.temps.$error.required">Vui lòng chọn kiểu hiển thị.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Ảnh tiêu biểu</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">                                    
                                    <img id="img" class="img-review" ng-src="{{selectedPro.Image}}" alt="{{selectedPro.ProName}}">
                                    <div class="modal-footer no-border">
                                        <button type="button" class="btn btn-primary" ng-click="event.browserImg()">Browser</button> 
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Thư viện ảnh sản phẩm</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content multi-item">                                    
                                    <div ng-repeat="img in imageList track by $index" class="panel panel-default ng-scope" style="padding-bottom: 8px;text-align: center;">
                                        <img id="Image{{$index}}" ng-src="{{img}}" class="img-responsive" />
                                        <a href="#" class="ng-scope" ng-click="event.editImg($index)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="ng-scope" ng-click="event.delImg($index)">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" ng-model="externalUrl" name="externalUrl" placeholder="Nhập đường dẫn">
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-info btn-flat" ng-click="event.addExternalUrl()">Thêm</button>
                                        </span>
                                    </div>  
                                    <div class="modal-footer no-border multi-item-button">
                                        <button type="button" class="btn btn-primary" ng-click="event.browserImgItem()">Duyệt ảnh</button>
                                    </div>                                                                   
                                </div>                                
                            </div>
                        </div> 
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Video</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">       
                                    <div ng-bind-html="$root.trustAsHtml(selectedPro.Video)"></div>                             
                                    <textarea class="form-control" name="video" placeholder="iframe video" ng-model="selectedPro.Video" rows="3">  
                                    </textarea>                                                                      
                                </div>
                            </div>
                        </div>                          
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>